{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% include 'group/included/navbar_edit.html' with open='posts' %}
<a class='btn btn-dark' href="{% url object.app|add:':create-post' object.slug%}">Poster une nouvelle annonce</a>
</br>
</br>
<h2>Liste des annonces</h2>
<!--{% url 'post_api:list-group-posts' object.slug %}-->
<!--<a class='btn btn-dark' href="{% url object.app|add:':archived-events' object.slug%}">Annonces de +30 jours</a>-->
</br>
<div id="root"></div>
{% endblock %}
{% block script %}
<script>
  const GROUP_SLUG = "{{object.full_slug}}";
  const STATIC_URL_PREFIX = "{% static '' %}";
  const API_LIST_URL = "{% url 'post_api:list-group-posts' object.full_slug %}";
</script>
<script src='{% static "js/group/postsGroupListUpdate.js" %}'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function () {
    $('input.datepicker').daterangepicker({
      singleDatePicker: true,
      drops: 'up',
      showDropdowns: true,
      autoApply: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerIncrement: 15,
      locale: {
        format: 'YYYY-MM-DD HH:mm'
      },
      minYear: parseInt(moment().format('YYYY'), 10)-1,
      maxYear: parseInt(moment().format('YYYY'), 10)+1
    });
  });
</script>
{% endblock %}