.notif {
  line-break: auto;
}

.spanno {
  height: 100%;
  display:flex;
  width: 300px;
  overflow-wrap:normal;
  align-items: center;
}


small {
  display:inline-block;
    max-width: 250px;
    overflow-wrap:normal;
}

p.title {
  font-weight: 300;
}

p.body {
  font-size: 300;
}

.filter {
  border-radius: 50%;
  margin-left: 2px;
}

.read-button {
  color: '#dc3545',
}

.bob {
  display: flex;
  align-items: center;
}
.notification-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}