{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Créer un post</h1>

<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.media }}
  {{ form | crispy }}
  </br>
  <p><button class='btn btn-dark'>Valider</button></p>
  <p><small>
    En validant le post, une notification pour celui-ci sera
    envoyée à tous les utilisateurs qui se sont abonnés au groupe.
    Les données de cette notification ne seront pas mises à jour si vous
    modifiez le post plus tard.
  </small></p>
</form>

{% endblock %}
