{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Coucou, la page n'a pas d'erreur.</h1>

<p>{{object.address}}</p>

{%for roommate in Roommates%}
    <h2>{{roommate.name}}</h2>
    <p>{{roommate.description}}</p>
    <p>Du {{roommate.begin_date}} au {{roommate.end_date}}</p>
    {{roommate.members.all | length}}

   {% for member in roommate.members.all %}
        <p>Un membre</p>
        <p>{{member.first_name}} {{member.last_name}} {{member.nickname}}</p>
    {%endfor%}
{%endfor%}


{% endblock %}