{% extends 'base.html'%}
{% block content%}

<h1>Liste des Colocations</h1>
<div class="table-responsive">
	<table class="table table-hover table-sm">
		<thead>
			<tr>
			<th scope="col">Adresse</th>
			<th scope="col">Nom de la coloc</th>
			</tr>
		</thead>
		<tbody>
			{% for housing in object_list%}
				<tr style="transform: rotate(0);">
				<td>
					{% if housing.last_roommates %}
						<a href="{{ housing.last_roommates.get_absolute_url }}" class="stretched-link"></a>
					{% else %}
						<a href="{% url 'roommates:create-roommates' housing.pk %}" class="stretched-link"></a>
					{% endif %}
					{{housing.address}} {% if housing.details %}- {{housing.details}}{% endif %}
				</td>
				<td>
					{% if housing.last_roommates %}{{housing.last_roommates.name}}{% endif %}
				</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<a class="btn btn-primary" type="button" href="{% url "roommates:housing-map" %}">Voir la carte</a>
<a class="btn btn-primary" type="button" href="{% url "roommates:create-housing" %}">Ajouter ma coloc</a>


{% endblock %}


