$radius: 15px;
$width: 450px;
$height: 300px;

$margin: 10px;

$mainBackground: rgb(201, 201, 201);
$secondaryBackground: rgb(250, 250, 250);

.eventContainer{
  margin: $margin;
  display: flex;
  flex-flow: column;
  background-color: $mainBackground;
  border-radius: $radius;
  height: $height;
  width: $width;
}

.topContainer{
  position: relative;
  height: $height/2;
}

.bottomContainer{
  position: relative;
  flex: 1;
}

.eventBanner{
  object-fit: cover;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  width: $width;
  height: $height / 2;
}

.favIcon {
  margin: $margin;
  position: absolute;
  top:0px;
  right: 0px;
}

.joinButton {
  margin: $margin;
  position: relative;
  top: 0px;
  right: 0px;
}

.title {
  text-align: left;
  left: $margin;
  line-height: 25px;
  margin: 0px;
}

.infoMain {
  display: flex;
  left: $margin;
  top: $margin
}

.infoContainer{
  margin: $margin;
  position: relative;
  display: flex;
  flex-direction: column;
}

.infoDetails{
  justify-content: space-around;
  display: flex;
  position: relative;
  margin: $margin;
}

.groupIcon {
  border-radius: 50%;
  background-color: $secondaryBackground;
  width: 60px;
  height: 60px;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.iconContainer {

}

.infos {
  text-align: left;
  font-size: 13px;
  margin-left: $margin;
  width: 100%;
}

.infoItem {
  display: flex;
  
}

.infoItemText {
  margin-left: 5px;
}