
#container {
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  width: 100%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#banner-title {
  position: relative;

  align-self: center;
  text-align: center;
}

#image-container {
  display: flex;

  flex-direction: column;
  justify-content: center;
}


#image {
  max-width: 1000px;
  width : 95%;
  position: relative;
  align-self: center;
  
}