{
  "presets": ["@babel/preset-env", "@babel/react", "@babel/typescript"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      },
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        // Use ""libraryDirectory": ""," if your bundler does not support ES modules
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    [
      "babel-plugin-transform-imports",
      {
        "@material-ui/core": {
          // Use "transform: "@material-ui/core/${member}"," if your bundler does not support ES modules
          "transform": "@material-ui/core/esm/${member}",
          "preventFullImport": true
        },
        "@material-ui/icons": {
          // Use "transform: "@material-ui/icons/${member}"," if your bundler does not support ES modules
          "transform": "@material-ui/icons/esm/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
