{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": ["error", { "usePrettierrc": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react-hooks/exhaustive-deps": "error",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@emotion/react",
            "importNames": ["useTheme"],
            "message": "Use 'useTheme' from '@mui/material' instead."
          },
          {
            "name": "@emotion/styled",
            "message": "Use 'styled' from '@mui/material' instead."
          },
          {
            "name": "react-i18next",
            "importNames": ["useTranslation"],
            "message": "Use 'useTranslation' from '#shared/i18n/useTranslation' instead."
          }
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
