{
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "#(.*)", "^[./]"],
  "importOrderSeparation": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
