{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{object.title}}</h1>
<p>Organisé par <a href='{{group.get_absolute_url}}'>{{group.name}}</a></p>
{% if request.user.is_authenticated %}
    {%if is_participating %}
        Vous participez a cet event. <a href='{% url "event:remove-participant" object.slug %}'>Ne plus participer</a>
    {% else %}
    <form>
        <a href='{% url "event:add-participant" object.slug %}' class='btn btn-dark'>
            Je participe
        </a>
    </form>
    {% endif %}
{% endif %}
<p><span class='badge badge-light'>Participants : {{object.get_number_participants}}</span></p>
<p>{{object.description}}</p>
{% endblock %}
