{% extends 'group/base_edit.html' %}
{% load crispy_forms_tags %}
{% block page %}
</br>
<form method='POST'>
  {% csrf_token %}
  {{form|crispy}}
  </br>
  <button class='btn btn-dark'>Modifier l'événement</button>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function () {
    $('input.datepicker').daterangepicker({
      singleDatePicker: true,
      drops: 'up',
      showDropdowns: true,
      autoApply: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerIncrement: 15,
      locale: {
        format: 'YYYY-MM-DD HH:mm'
      },
      minYear: 2020,
      maxYear: parseInt(moment().format('YYYY'), 10)
    });
  });
</script>
{% endblock %}