.git
.github
.idea
.vscode

backend/.venv
backend/*.sqlite3
backend/staticfiles
backend/media
backend/template/emails
backend/static/front
backend/static/js
backend/**/*.mo
backend/**/*.pot

frontend/node_modules
frontend/coverage

email-templates-generator/node_modules

**/.env
**/.env.*
**/*.env
**/__pycache__
**/*.py[cod]
**/.mypy_cache/
**/.ruff_cache
**/.coverage
**/coverage
