{% extends 'base_bg.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% load i18n %}

{% block head %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block card_content %}
    <h2>{% translate "Inscription sur Nantral Platform" %}</h2>
    </br>
        <p>
           {% translate "Pour vous inscrire sur Nantral Platform, vous devez être affilié à Centrale Nantes. Votre affiliation est determinée en utilisant votre adresse mail Centrale Nantes @eleves.ec-nantes.fr ou @ec-nantes.fr." %}
        </p>
        {% if temporary_registration %}
            <p>
                {% translate "Si vous ne disposez pas encore de votre addresse, vous pouvez demander un accès temporaire :"%}</br>
                <a class="btn btn-success" href="{% url 'account:temporary-registration' %}">{% translate "Demande d'accès temporaire."%}</a>
            </p>
        {% endif %}

        <form method='POST' class="text-start">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success">{% translate "Inscription" %}</button>
        </form>
{% endblock %}
