{% extends 'base_bg.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% load i18n %}

{% block head %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block card_content %}
  <h2>{% translate "Avez-vous un mail ECN ?" %}</h2>

  <div class="text-start">
  
    <h5 class="mt-4 bold">✅ Oui, j'ai une adresse mail Centrale Nantes</h4>
    <p>Si vous avez accès à votre adresse Centrale Nantes (se terminant par <code>ec-nantes.fr</code>),
    vous pouvez continuer votre inscription via ce lien :
    <a href="{% url 'account:registration' %}">poursuivre mon inscription</a>.
    </p>
    
    <h5 class="mt-4 bold">❌ Non, je n'ai pas encore accès à mon adresse Centrale Nantes</h4>
    <p>
      Dans ce cas, vous pouvez créer un compte temporaire en utilisant le lien
      suivant : <a href="{% url 'account:temporary-registration' invite_id %}">
      créer mon compte temporaire</a>.
    </p>
  
  </div>

{% endblock %}
