<small>English version bellow</small>
<p>Bonjour {{ user.first_name|title }}, nous avons refusé votre demande d'accès à Nantral Platform.</p>
<p>Nous avons pris cette décision car nous pensons qu'il s'agit d'une requête illégitime.</p>
<p>Nous vous invitions à refaire votre demande avec votre adresse Centrale Nantes ou à nous contacter sur Facebook pour plus d'informations.</p>

<p>Hi {{ user.first_name|title }}, we have denied your request to access Nantral Platform.</p>
<p>We have made this decision because we think this is an illegitmate request.</p>
<p>We invite you to register again with your school email when you get it or to contact us on Facebook.</p>