[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
django = "python manage.py"
lint = "flakeheaven lint"
"lint:fix" = "sh -c 'black . && isort .'"
"test:coverage" = "coverage run --source='.' manage.py test"

[packages]
celery = "~=5.2"
crispy-bootstrap5 = "~=0.6"
discord-webhook = "~=1.0"
django = "~=4.1"
django-celery-beat = "~=2.4"
django-ckeditor-5 = "~=0.2"
django-crispy-forms = "~=1.14"
django-debug-toolbar = "~=4.1"
django-environ = "~=0.9"
django-extra-settings = "~=0.5"
django-modeltranslation = "~=0.18.11"
django-push-notifications = {version = "~=3.0", extras = ["apns", "wp"]}
django-storages = {version = "~=1.13", extras = ["boto3"]}
django-vite = "*"
djangorestframework = "~=3.13"
docutils = "*"
flower = "~=2.0"
freezegun = "~=1.2"
gunicorn = "~=21.2"
matching = "~=1.4"
names = "~=0.3.0"
numpy = ">=1.21"
pillow = ">=9.2"
psycopg2-binary = "~=2.9"
pymemcache = "~=4.0"
pywebpush = "~=1.14"
redis = "~=5.0"
requests = "~=2.28"
six = "~=1.16"
# force update of a sub-package
pyjwt = ">=2.4"

[dev-packages]
black = "~=23.9"
coverage = "~=7.3"
wemake-python-styleguide = "~=0.17"
flakeheaven = "~=3.3"

[requires]
python_version = "3.10"
