[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
django = "python manage.py"
format = "bash -c 'cd .. && autopep8 -r --in-place ./backend/'"

[packages]
celery = "~=5.2.2"
crispy-bootstrap5 = "~=0.4"
discord-webhook = "~=0.14.0"
django = "~=3.2.14"
django-celery-beat = "~=2.2.1"
django-crispy-forms = "~=1.11.2"
django-debug-toolbar = "~=3.2.2"
django-environ = "~=0.8.1"
django-extra-settings = "~=0.3.2"
django-storages = {version = "~=1.11.1", extras = ["boto3"]}
django-push-notifications = {version = "~=3.0.0", extras = ["apns", "wp"]}
djangorestframework = "~=3.12.4"
flower = "~=1.2.0"
freezegun = "~=1.1.0"
gunicorn = "~=20.1.0"
matching = "~=1.4"
numpy = ">=1.21.2"
pillow = "~=9.0.1"
psycopg2-binary = "~=2.9.3"
pymemcache = "~=3.5.0"
pywebpush = "~=1.14.0"
redis = "~=3.5.3"
requests = "~=2.25.1"
six = "~=1.16.0"
django-ckeditor-5 = {git = "https://github.com/3cn-ecn/django-ckeditor-5.git"}

[dev-packages]
autopep8 = ">=1.7.0"
flake8 = ">=5.0.4"
mccabe = ">=0.7.0"
pep8-naming = ">=0.13.2"
pycodestyle = ">=2.9.1"
pydocstyle = ">=6.1.1"
pyflakes = ">=2.5.0"

[requires]
python_version = "3.10"
