[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
"start" = "python manage.py runserver"
"test" = "python manage.py test"
"makemigrations" = "python manage.py makemigrations"
"migrate" = "python manage.py migrate"
"django" = "python manage.py"
"lint" = "ruff check"
"lint:fix" = "sh -c 'ruff check --fix . && ruff format'"
"test:coverage" = "coverage run --source='.' manage.py test"
"fakedata" = "python manage.py fakedata"

[packages]
celery = "~=5.2"
crispy-bootstrap5 = "~=0.6"
discord-webhook = "~=1.0"
django = "~=4.2"
django-celery-beat = "~=2.4"
django-ckeditor-5 = "~=0.2"
django-crispy-forms = "~=1.14"
django-debug-toolbar = "~=4.1"
django-environ = "~=0.9"
django-extra-settings = "~=0.5"
django-modeltranslation = "~=0.18.11"
django-oidc-provider = "~=0.9.0"
django-push-notifications = { version = "~=3.0", extras = ["apns", "wp"] }
django-rest-passwordreset = "~=1.4"
django-simple-history = "~=3.10"
django-storages = { version = "~=1.13", extras = ["boto3"] }
django-vite = "~=3.0"
djangorestframework = "~=3.15"
docutils = "*"
factory-boy = "~=3.3"
flower = "~=2.0"
freezegun = "~=1.2"
gunicorn = "~=23.0"
matching = "~=1.4"
names = "~=0.3"
numpy = ">=1.21"
pillow = ">=9.2"
psycopg2-binary = "~=2.9"
pymemcache = "~=4.0"
pywebpush = "~=1.14"
redis = "~=5.0"
requests = "~=2.32"
six = "~=1.16"
# force update of a sub-package
pyjwt = ">=2.4"

[dev-packages]
coverage = "~=7.3"
ruff = "~=0.15"

[requires]
python_version = "3.13"
