{% extends 'base.html' %}
{% load static %}
{% block content %}
<br \>
<h1>Clubs Nantraliens</h1>
<br \>

<h5>Associations</h5>
<div class="grille">
  {% for club in object_list%}
  {% if club.bdx_type == "Asso" %}
  <div class="grille-icon text-center">
    <a href="{{ club.get_absolute_url }}">
      {% if club.logo %}
        <img src={{ club.logo.url }}>
      {% else %}
        <img src="{% static 'img/logo.svg' %}" style="max-width:100px;">
      {% endif %}
      </a>
    <h6>{{ club.name | title }}</h6>
  </div>
  {% endif %}
  {% endfor %}
</div>

<h5>Clubs BDE</h5>
<div class="grille">
  {% for club in object_list%}
  {% if club.bdx_type == "BDE" %}
  <div class="grille-icon text-center">
    <a href="{{ club.get_absolute_url }}">
      {% if club.logo %}
        <img src={{ club.logo.url }}>
      {% else %}
        <img src="{% static 'img/logo.svg' %}" style="max-width:100px;">
      {% endif %}
      </a>
    <h6>{{ club.name | title }}</h6>
  </div>
  {% endif %}
  {% endfor %}
</div>

<h5>Clubs BDA</h5>
<div class="grille">
  {% for club in object_list%}
  {% if club.bdx_type == "BDA" %}
  <div class="grille-icon text-center">
    <a href="{{ club.get_absolute_url }}">
      {% if club.logo %}
        <img src={{ club.logo.url }}>
      {% else %}
        <img src="{% static 'img/logo.svg' %}" style="max-width:100px;">
      {% endif %}
      </a>
    <h6>{{ club.name | title }}</h6>
  </div>
  {% endif %}
  {% endfor %}
</div>

<h5>Clubs BDS</h5>
<div class="grille">
  {% for club in object_list%}
  {% if club.bdx_type == "BDS" %}
  <div class="grille-icon text-center">
    <a href="{{ club.get_absolute_url }}">
      {% if club.logo %}
        <img src={{ club.logo.url }}>
      {% else %}
        <img src="{% static 'img/logo.svg' %}" style="max-width:100px;">
      {% endif %}
      </a>
    <h6>{{ club.name | title }}</h6>
  </div>
  {% endif %}
  {% endfor %}
</div>

<!--div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Club</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        {% for club in object_list%}
        <tr class='clickable-row' data-href='{{club.get_absolute_url}}' style="cursor: pointer">
          <td>{{club.name | title}}</a></td>
          <td>{{club.bdx_type}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    
    <script> jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
    }); </script--> 
{% endblock %}
