{% extends 'base.html' %}
{% load static %}

{% block content %}

<br />
<div class="row">
	<div class="col">
		<h1>Clubs Nantraliens</h1>
	</div>
	<!--div class="col text-end">
		<input type="textbox">
	</div-->
</div>
<br />


{% for bdx in list_bdx %}
	{% if bdx.list %}
		<h2>{{ bdx.nom }}</h2>
		<div class="grille">
			{% for club in bdx.list %}
  				<div class="grille-icon text-center" style="transform:rotate(0);">
		    		<a href="{{ club.get_absolute_url }}" class="stretched-link">
						<div class="ratio ratio-1x1">
	      					{% if club.logo %}
	        					<img src="{{ club.logo.url }}">
      						{% else %}
			        			<img src="{% static 'img/logo.svg' %}" style="opacity:0.3">
      						{% endif %}
						</div>
					</a>
					<h6>
						{% if club.prefere_abbr %}
							{{ club.abbr }}
						{% else %}
							{{ club.name }}
						{% endif %}
					</h6>
  				</div>
  			{% endfor %}
		</div>
	{% endif %}
{% endfor %}

{% endblock %}
