{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>
    <a href="{{ object.get_absolute_url }}"><i class="fas fa-arrow-alt-circle-left link-dark"></i></a>  
    {{object.name}}
</h1>

<br>
<p><i>Vous souhaitez participer au colocathlon ? Cochez la case et remplissez les informations ci-dessous !</i></p>
<br>
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    {{ form_housing|crispy }}
    <button class="btn btn-dark">Valider</button>
</form>
{% endblock %}