{% extends 'base.html' %}
{% block content %}
    <h1>{{object.name}}</h1>
      <a href="{% url 'group:update' object.id %}" class="btn btn-dark btn-sm mb-1"><i class="fa fa-cog"></i> Général</a>
      <a href="{% url 'group:update-members' object.slug %}" class="btn btn-dark btn-sm mb-1"><i class="fa fa-users"></i> Membres & Admins</a>
      <a href="{% url 'group:update-events' object.slug %}" class="btn btn-dark btn-sm mb-1"><i class="fa fa-calendar-plus-o"></i> Événements</a>
    {% block page %}
    {% endblock %}
{% endblock %}