.imageEventBlur {
  width: inherit;
  height: inherit;
  backdrop-filter: blur(3px) brightness(65%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

.eventBlockTitleDisplay {
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
   -webkit-box-orient: vertical;
}