{% extends "base.html" %} {% block content %}
<h1>Parrainage - Page Admin</h1>
<h2>Statistiques générales</h2>
<h3>Colocs</h3>
<ul>
  <li>Nombre de colocs participant au colocathlon : {{ nb_colocs }}</li>
  <li>Phase colocathlon : {{ phase }}</li>
  <li>Nombre de colocations qui participent : {{ nb_colocs }}</li>
  <li>
    Nombre de participants (sans compter ceux qui résident dans les colocs) : 
    {{ nb_participants }}
  </li>
  <li>
    Liste des colocs qui participent avec les membres :
    <ul>
      {% for coloc in colocs %}
      <li>
        {{ coloc.name }} : {{ coloc.places }}/{{ coloc.quota }} participants
        <ul>
          {% for membre in coloc.membres %}
          <li>{{ membre }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>
<br />
<h2>Outils</h2>
<a href='{% url "roommates-admin:reset" %}' class="btn btn-warning"
  >Reset données colocathlon</a
>
{% endblock %}
