.imageMonthEventBlur {
  width: inherit;
  height: inherit;
  backdrop-filter: blur(3px) brightness(65%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

.dayBlockTitleDisplay {
  overflow: hidden;
  overflow-wrap: break-word;
  display: -webkit-box;
   -webkit-line-clamp: 2; // Allow the title on 2 lines maximum
   -webkit-box-orient: vertical;
}