{% load crispy_forms_tags %}

<div class="row">
    {% for field in form %}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {% if field.group %}
            {% if field.group_first %}
                <div class="col-12 -6 mb-4">
                    <div class="card table-responsive">
                        <table class="table align-middle">
                            <thead class="card-header"><tr>
                                <td class="align-middle text-nowrap">{{ field.group.label }}</td>
                                {% for option in field.group.option_set.all %}
                                    <td class="align-middle text-center">{{ option.text }}</td>
                                {% endfor %}
                            </tr></thead>
                            <tbody class="card-body">
            {% endif %}
                                <tr><fieldset>
                                    <td>{{ field.label }}</td>
                                    {% for radio in field %}
                                        <td class="text-center"><div class="form-check form-check-inline">
                                            {{ radio.tag }}
                                        </div></td>
                                    {% endfor %}
                                </fieldset></tr>
            {% if field.group_last %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 -6 mb-4">
                <div class="card">
                    <fieldset>
                        <legend class="card-header">{{ field.label }}</legend>
                        <div class="card-body">
                            {% for radio in field %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<style>
    legend {
        font-size: 1.05rem;
    }
    .card tr > :first-child {
        padding: 0.5rem 1rem;
    }
    .card > table {
        margin-bottom: 0;
    }
    .card .form-check-inline {
        margin: 0;
        padding: 0;
    }
    .card .form-check-inline > .form-check-input {
        margin:0;
        margin-top:0.4rem;
    }
    .card .table tr:last-child td {
        border-bottom-width: 0px;
    }
</style>