{% extends 'base.html' %}
{% load static %}
{% block content%}
<br \>
<div>
    <h2>Oooups ! Vous n'avez pas le droit d'accéder à cette page...</h2>
    <p>Error 403 - Forbidden.</p>
    <p>Cliquez sur le mouton pour revenir à l'accueil.</p>
    <a class="btn btn-light" href="{% url 'home:home' %}">
        <img src='{% static "/img/eminem.png" %}' style=" width:40%;max-width:150px;}">
    </a>
    <p>Si vous pensez qu'il s'agit d'une erreur vous pouvez nous la signaler <a href="{% url 'home:sugestions' %}">ici</a>.</p>
</div>

{% endblock%}
