{% extends 'base.html' %}
{% load static %}
{% block content%}
<br \>
<div>
    <h2>Oups quelque chose ne tourne pas rond de notre côté.</h2>
    <p>On a peut-être jambonné les tests.</p>
    <p>Cliquez sur le jambon pour revenir à l'accueil. Si l'erreur se reproduit n'hésite pas à nous la signaler. (Promis on s'en occupera)</p>
    <a class="btn btn-light" href="{% url 'home:home' %}">
        <img src='{% static "/img/jambon.png" %}' style="width:40%;max-width:150px;">
    </a>
    <p>Vous pouvez nous signaler l'erreur <a href="{% url 'home:sugestions' %}">ici</a>. Essayez de nous décrire ce que vous etiez en train de faire.</p>
</div>

{% endblock%}
