{% load static %}
{% load file_url %}


<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="{% static 'manifest.webmanifest' %}">
	<meta name="vapid-key" content="{{ vapid_key }}">
	<!-- css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}?v=4">
	<!-- js --> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/fb916ac9cd.js" crossorigin="anonymous"></script>
	<!-- favicon -->
	<link rel="shortcut icon" href="{% static '/img/logo.svg' %}">
	{% block head %}
		<meta name="description" CONTENT="Bienvenue sur Nantral Platform, le site des clubs et assos de Centrale Nantes !">
	{% endblock %}
	<title>
		{% if ariane %}
			{% with ariane|last as page %}{{page.label}} - {% endwith %}
		{% endif %}
		Nantral Platform
	</title>
</head>

<body>
	
	<nav class="navbar navbar-expand sticky-top navbar-light bg-light" style="box-shadow: 1px 1px 7px #999">
		<div class="container">
			<div id="goBackButton" class="d-inline-block"></div>
			<div id="fil-dariane" class="navbar-brand">
				{# On rajoute des <!-- --> pour corriger un bug html (ça rajoute des espaces en trop sinon) #}
				<a class="ariane-link" href="{% url 'home:home' %}" style="font-weight: 900;"><!--
					--><img src="{% static '/img/logo.svg' %}" width="30" height="30" class="d-inline-block align-top me-2" alt="" loading="lazy"><!--
					--><span class="ms-0">Nantral Platform.</span><!--
				--></a><!--
				-->{% for link in ariane %}<!--
					--><i class="fas fa-angle-right"></i><!--
					--><a class="ariane-link" href="{{ link.target }}" style="font: 'Heebo'; font-weight: 900;"><span>{{ link.label }}</span></a><!--
				-->{% empty %}
					<span></span><span></span>
				{% endfor %}
			</div>
			<ul id="menuSet" class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggler" href="#" role="button" data-bs-toggle="dropdown" >
						<img src='{% static "/icon/menu.svg" %}' class="d-inline-block align-top" alt="menu" loading="lazy">
					</a>
					<ul class="dropdown-menu dropdown-menu-end" onclick="event.stopPropagation()" style="right:-84px;">
						<li><a class="dropdown-item" href="{% url 'home:home' %}">
							<img src='{% static "/icon/event.svg" %}' class="align-middle" loading="lazy" alt="">
							Posts et Évènements
						</a></li>
						<li><a class="dropdown-item" href="{% url 'club:index' %}">
							<img src='{% static "/icon/club.svg" %}' class="align-middle" loading="lazy" alt="">
							Clubs &amp; Assos
						</a></li>
						<li><a class="dropdown-item" href="{% url 'roommates:index' %}">
							<img src='{% static "/icon/roommates.svg" %}' class="align-middle" loading="lazy" alt="">
							Carte des Colocs
						</a></li>
						<li><a class="dropdown-item" href="{% url 'family:home' %}">
							<img src='{% static "/icon/family.svg" %}' class="align-middle" loading="lazy" alt="">
							Parrainage
						</a></li>
						<li><a class="dropdown-item" href="{% url 'liste:index' %}">
							<img src='{% static "/icon/campaign.svg" %}' class="align-middle" loading="lazy" alt="">
							Listes BDX
						</a></li>
						<li><a class="dropdown-item" href="{% url 'academic:index' %}">
							<img src='{% static "/icon/academic.svg" %}' class="align-middle" loading="lazy" alt="">
							Cours et Formations
						</a></li>
						<li><a class="dropdown-item" href="{% url 'administration:index' %}">
							<img src='{% static "/icon/admin.svg" %}' class="align-middle" loading="lazy" alt="">
							Administration
						</a></li>
						<li><a class="dropdown-item" href="{% url 'student:list' %}">
							<img src='{% static "/icon/list.svg" %}' class="align-middle" loading="lazy" alt="">
							Annuaire Étudiant
						</a></li>
						<li><a class="dropdown-item" href="{% url 'services:signature-gen' %}">
							<img src='{% static "/icon/sign.svg" %}' class="align-middle" loading="lazy" alt="">
							Signature ECN
						</a></li>
					</ul>
				</li>
				<li id="notificationPanel" class="nav-item">
					<a id="notification-icon" class="nav-link dropdown-toggler" href="#" role="button" data-bs-toggle="dropdown">
						<img src='{% static "/icon/notification.svg" %}' class="d-inline-block align-top" alt="notifications" loading="lazy">
						<div id="notification-badge"></div>
					</a>
					<div class="dropdown-menu dropdown-menu-end overflow-auto"
						style="width: 18rem; maxWidth: 90vw; right: -42px; maxHeight: 70vh;"
						onclick="event.stopPropagation();"
					>
						<ul id="notification-panel"></ul>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggler" href="#" role="button" data-bs-toggle="dropdown">
						<img src='{% static "/icon/people.svg" %}' class="d-inline-block align-top" alt="compte personnel" loading="lazy">
					</a>
					<ul class="dropdown-menu dropdown-menu-end" style="right: 0;" onclick="event.stopPropagation()" aria-labelledby="triggerId">
						{% if request.user.is_authenticated %}
							{% if request.user.student.pk %}
								<li><a class="dropdown-item" href="{% url 'student:detail' request.user.student.pk %}"><i class="fas fa-user"></i>&nbsp; Mon Profil</a></li>
								{% if request.user.is_staff %}
									<li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-shield-alt"></i>&nbsp; Interface Admin</a></li>
								{% endif %}
								<li><a class="dropdown-item" href="{% url 'account:logout' %}" {# onclick="caches.delete('main-pages');" #}><i class="fas fa-sign-out-alt"></i>&nbsp; Me déconnecter</a></li>
							{% else %}
								<li><a class="dropdown-item disabled" href="">Oooups ! Votre compte est corrompu. Contactez un admin !</a></li>
							{% endif  %}
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'home:sugestions' %}"><i class="fa fa-exclamation-circle"></i>&nbsp; Suggestion / Bug</a></li>
						{% else %}
							<li><a class="dropdown-item" href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp; Connexion</a></li>
						{% endif %}
						<li><a class="dropdown-item" href="{% url 'home:mentions' %}"><i class="fas fa-gavel"></i>&nbsp; Mentions Légales</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	
	{% block banniere %}
	{% endblock %}
	
	<div class="container">
	{% if messages %}
		{% for message in messages %}
		<div id="alertScore" class="alert alert-{% if message.tags == 'error'%}danger{%else%}{{message.tags}}{%endif%} alert-dismissible fade show mt-4" role="alert">
			{{ message|safe }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{%endfor%}
	{% endif %}

	<br>
	{% block content %}
	{% endblock %}

	<br><br><br>
	</div>

	<footer id="footer-install-app"></footer>
	<footer id="footer-offline"></footer>

	<script type = "text/javascript" src="{% static 'js/app.js' %}?v=1"></script>

	{% block script %}
	{% endblock %}
</body>

</html>