{% load static %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fb916ac9cd.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href='{% static "/img/logo.svg" %}'>
    {% block head %}
    {% endblock %}
    <title>Nantral Platform</title>
  </head>
  <style>
    html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body{
   font-family: 'Heebo', sans-serif;
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

@import "bootstrap";

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

h1,h2,h5{
  font-family: 'Heebo', sans-serif;
  font-weight:900;
}

h3,h4,h6{
  font-family: 'Heebo', sans-serif;
  font-weight:500;
}

a:hover{
  text-decoration: none;
}

  </style>
  <body>
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="box-shadow: 1px 1px 7px #999">
      <a class="navbar-brand" href="{% url 'home:home' %}" style="font: 'Heebo'; font-weight: 900;">
        <img src='{% static "/img/logo.svg" %}' width="30" height="30" class="d-inline-block align-top" alt="logo" loading="lazy">
        Nantral Platform.
      </a>
      {% if request.user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarText">
        <ul class="navbar-nav">
          <!--<li class="nav-item">
            <a class="nav-link" href="{% url 'home:home' %}">Accueil <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student:list' %}">Étudiant·e·s</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group:club-list' %}">Clubs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group:liste-list' %}">Listes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'roommates:housing-map' %}">Carte des colocs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="dropdown-item" href="{% url 'exchange:exchange' %}">Bourse aux options</a></li>
              <li><a class="dropdown-item" href="{% url 'services:signature-gen' %}">Signature ECN</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if request.user.student.id %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student:detail' request.user.student.id %}">{{ request.user.first_name | title}} {{ request.user.last_name | upper}}</a>
          </li>
          {% endif  %}
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a class="dropdown-item" href='{% url "account:redirect-student"  request.user.id%}'><i class="fas fa-user"></i>  Modifier mon profil</a></li>
              <li class="divider"></li>
              <li><a class="dropdown-item" href="{% url 'home:sugestions' %}"><i class="fa fa-exclamation-circle"></i>  Faire une suggestion</a></li>
              <li class="divider"></li>
              <li><a class="dropdown-item" href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i>  Me déconnecter</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          {% if messages %}
          {% for message in messages %}
          <br/>
            <div id="alertScore" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{message}}
            </div>
            {%endfor%}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
  {% block script %}
  {% endblock %}
</html>