{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'club:club-list' %}">Voir les Clubs & Assos</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content%}
    <style> 
        body {
            background-image: url('{% static "/img/central_background.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .bg-light {
            background-color: rgba(248, 249, 251, 0.85) !important;
            backdrop-filter: blur(4px);
        }
    </style>
    
    <div class='row'>
        <div class='col-md-3'></div>
        <div class='card col-md-6 col-12  my-3 p-3 bg-light text-center'>
            <p><img src='{% static "/img/logo.svg" %}' style="height:5rem;max-width:150px;"> </p>
            <h1>Nantral Platform.</h1>
            <small>Le site des clubs et assos de Centrale Nantes !</small>
            <p></p>
            <form method='POST'>
                {% csrf_token %}
                {{ form|crispy }}
                <div class='text-center'>
                    <button class="btn btn-dark">Se connecter</button>  
                    <a href="{% url 'account:registration' %}" class="btn btn-light">Pas de compte ?</a>
                </div>
            </form>
        </div>
        <div class='col-md-3'></div>
    </div>
    
{% endblock %}
