{% extends 'base_bg.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'club:club-list' %}">{% translate "Voir les Clubs & Assos" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block card_content%}

    <p><img src='{% static "/img/logo.svg" %}' style="height:5rem;max-width:150px;"> </p>

    <h1>Nantral Platform.</h1>
    <small>{% translate "Le site des clubs et assos de Centrale Nantes !" %}</small>
    <p></p>
    
    <form method='POST'>
        {% csrf_token %}
        {{ form|crispy }}
        <div class='text-center'>
            <button class="btn btn-dark">{% translate "Se connecter" %}</button>  
            <a href="{% url 'account:registration'%}" class="btn btn-light disabled">{% translate "Pas de compte ?" %}</a>
        </div>
    </form>
    
{% endblock %}
