{% extends 'base_bg.html' %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    body {
        background-image: url('{% static "/img/central_background.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class='row'>
    <div class='col-md-3'></div>
    <div class='card col-md-6 col-12  my-3 p-3 bg-light text-center'>
        <h2>Inscription sur Nantral Platform</h2>
        <p>
            Pour vous inscrire sur Nantral Platform vous devez être affilié à Centrale Nantes.
            Votre affiliation est determinée en utilisant votre addresse mail Centrale Nantes @xxxx.ec-nantes.fr.
            Si vous ne disposez pas encore de votre addresse vous pouvez demander un accès temporaire.</br>
            <a class="btn btn-success" href="{% url 'account:temporary-registration' %}">Demande d'accès temporaire.</a>
        </p>
        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success">Inscription</button>
        </form>
    </div>
    <div class='col-md-3'></div>
</div>
{% endblock %}