{% extends 'base.html' %}


{% block content %}

    <h1>{{ object.name }}</h1>
    {% if show_data %}
        <p>Famille n°{{object.pk}}</p>
    {% endif %}
    <br>

    {% if object.summary and show_data %}
        <p>{{object.summary}}</p>
        <br>
    {% endif %}

    {% if show_data %}
        <h2>Les marraines et parrains</h2>
        {% include 'student/student_cards.html' with members=parrains %}
        {% if object.non_subscribed_members %}
            <p class='mt-2'>Et aussi : {{ object.non_subscribed_members }}</p>
        {% endif %}
        <br>
    {% endif %}

    {% if filleuls and phase > 2 %}
        <h2>Les filleules et filleuls</h2>
        {% include 'student/student_cards.html' with members=filleuls %}
        <br>
    {% endif %}

    {% if is_admin %}
        <a href="{% url 'family:update' object.pk %}" class="btn btn-dark btn-sm">Modifier la Famille</a>
    {% endif %}

{% endblock %}