{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %} 
{% load django_vite %}

{% block content %}

    <h1>Modifier ma Famille</h1>
    <p>Gérez les infos sur votre famille. Attention, une famille est composée au
        maximum de 8 parrains et marraines. Si vous êtes plus nombreux, créez
        une seconde famille !</p>
    <br>
    
    <form method="post">
        {% csrf_token %}
        <div class="row g-5">
            <div class="col-12 col-md-6">
                <h2>Membres</h2>
                <table>
                    <div id="membership-form"/>
                    {% for form in members_form.forms %}
                        {# Include the hidden fields in the form #}
                        {% for field in form %}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% if not field.name == 'DELETE' %}
                                {{field|as_crispy_field}}
                            {% endif %}
                        {% endfor %}
                        {{ form|as_crispy_errors }}
                    {% endfor %}
                </table>
            </div>
            <div class="col-12 col-md-6">
                <h2>Infos générales</h2>
                {{ update_form|crispy }}
            </div>
            <div class="col-12">
                <h2>Questionnaire pour les familles</h2>
                {{ question_form|crispy }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enregistrer ma famille</button>
    </form>
   
{% endblock %}

{% block script %}
<script>
  const CURRENT_MEMBERS = {{ current_members|safe }};
  const ERRORS = {{ errors|safe }}
</script>
{% vite_asset 'src/legacy/family/FamilyMembersForm.tsx' %}
{% endblock %}