html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Heebo', sans-serif;
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

@import "bootstrap";
.card-columns {
	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	@include media-breakpoint-only(md) {
		column-count: 3;
	}
	@include media-breakpoint-only(sm) {
		column-count: 2;
	}
}

h1,
h2,
h5 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
}

h3,
h4,
h6 {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
}

a:hover {
	text-decoration: none;
}


.grille {
	/*organisation de la page*/
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
	grid-gap: 2rem;
	grid-auto-flow: dense;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}

.grille-icon img {
	width: 100%;
	border-radius: 100%;
	margin-bottom: 0.5rem;
	transition: all 0.3s ease;
}

.grille-icon a:hover img {
	box-shadow: 0px 0px 7px #999;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	.navbar .nav-item .dropdown-menu-end{ right:0; }
}	