html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Heebo', sans-serif;
	margin: 0px;
	min-height: 100%;
	width: 100%;
}

@import "bootstrap";
.card-columns {
	@include media-breakpoint-only(xl) {
		column-count: 5;
	}
	@include media-breakpoint-only(lg) {
		column-count: 4;
	}
	@include media-breakpoint-only(md) {
		column-count: 3;
	}
	@include media-breakpoint-only(sm) {
		column-count: 2;
	}
}

h1,
h2,
h5 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
}

h3,
h4,
h6 {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
}

a:hover {
	text-decoration: none;
}


.grille {
	/*organisation de la page*/
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
	grid-gap: 2rem;
	grid-auto-flow: dense;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}

.grille-icon .ratio {
	margin-bottom: 0.5rem;
}

.grille-icon img {
	width: 100%;
	border-radius: 100%;
	transition: all 0.1s ease;
	object-fit: contain;
}

.grille-icon a:hover img {
	box-shadow: 0px 0px 7px #999;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	.navbar .nav-item .dropdown-menu-end{ right:0; }
}	

.ratio-banniere {
	/*--bs-aspect-ratio: 30%;*/
	height: 20vh;
}

img.banniere {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.logo {
	width: 95%;
	object-fit: contain;
	margin-right: 5%;
}

.grille-rs {
	display: flex;
	flex-wrap: wrap;
}
a.rs {
	background: #eaeaea;
	border-radius: 1em;
	text-decoration: none;
	color: var(--color-rs);
	padding: 0.2em;
	display: flex;
	position: relative;
	width: max-content;
	height: 2rem;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
}

a.rs div, a.rs i {
	background: var(--color-rs);
	color: #fff;
	border-radius: 1em;
	padding: 0.2em;
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	transition: all 0.1s ease;
}

a.rs > div > i {
	text-align: center;
	padding: 0.5rem;
}

a.rs span {
	margin-left: 2rem;
	padding: 0.1rem;
	padding-right: 0.5rem;
}

a.rs:hover div {
	width: 100%;
}

a.rs:hover span {
	color: #fff;
	z-index: 1;
}