/* GENERAL */
/* ------- */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

h1, .h1,
h2, .h2,
h4, .h4,
.student h5 {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

h3, .h3,
h5, .h5,
h6, .h6 {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

table.table-sort th {
  cursor: pointer;
}

/* BARRE DE NAVIGATION */
/* ------------------- */

.navbar > .container {
  flex-direction: row-reverse;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .navbar .nav-item .dropdown-menu-end {
    right: 0;
  } 
}

.navbar > .container > .search-container{
  display: none;
}
.navbar #navbarText {
  flex-direction: row-reverse;
}
.navbar > .container > .show > .navbar-nav {
  align-self: flex-start;
}

/* BARRE DE RECHERCHE */
#navbarText .search-container {
  transform: translateX(-240px);
}
.search-container:focus-within + ul {
  display: none;
}
.search-container:focus-within {
  transform: translateX(-50px); 
  width: auto;
  height: auto;
}

.search-container label {
  width: 0;
}
.search-container {
  width: 40px;
  height: 40px;
}
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.navbar-collapse .search-box + label .search-icon {
  transform: translateX(36px) translateY(-36px);
}

.search-box:focus + label .search-icon{
  transform: translateX(-9px) translateY(-2px);
}

.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 3px #3d4752;
}
.search-box:hover + label .search-icon {
  filter: brightness(0) invert(1);
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 400px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  #navbarText .search-container{
    transform: translateX(0);
  }
  #navbarText .search-container:focus-within{
    transform: translateX(-100px);
  }
}
@media screen and (max-width: 992px){
  .navbar > .container > .search-container{
    display: flex;
  } 
  .navbar-collapse .search-container{
    display: none;
  }
  .navbar > .container > .navbar-collapse {
    flex-direction: column-reverse!important;
  }
  .navbar > .container > .show {
    display: flex;
  }
  .search-box + label .search-icon {
    transform: translateX(-4px) translateY(4px)!important;
  }
  .search-container:focus-within {
    transform: translateX(-200px);
  }
  .navbar > .container > .search-container:focus-within ~ .navbar-brand {
    display: none;
  }
  .navbar > .container > .search-container:focus-within{
    width: 80%;
    transform: translateX(20px);
  }
  .navbar > .container >.search-container > .search-box:focus {
    width: 100%;
  }
}
/* MODULE DE GRILLE */
/* ---------------- */

.grille {
  /*organisation de la page*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.grille-icon .ratio {
  margin-bottom: 0.5rem;
}

.grille-icon img {
  width: 100%;
  border-radius: 100%;
  transition: all 0.1s ease;
  object-fit: contain;
}

.grille-icon a:hover img {
  box-shadow: 0px 0px 7px #999;
}

/* PAGES DE DÉTAILS */
/* ---------------- */

/* banniere */
.ratio-banniere {
  --bs-aspect-ratio: 37%;
  margin-bottom: 0.5rem;
}
img.banniere {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  img.banniere {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* logo */
img.logo {
  object-fit: contain;
  border-radius: 10%;
}
@media (max-width: 576px) {
  div.logo-div {
    width: 15rem;
    max-width: 100%;
    margin: auto;
  }
}

/* reseaux sociaux */
.grille-rs {
  display: flex;
  flex-wrap: wrap;
}
a.rs {
  background: #eaeaea;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--color-rs);
  padding: 0.2em;
  display: flex;
  position: relative;
  width: max-content;
  height: 2rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
a.rs div,
a.rs i {
  background: var(--color-rs);
  color: #fff;
  border-radius: 10rem;
  padding: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  transition: all 0.1s ease;
}
a.rs > div > i {
  text-align: center;
  padding: 0.5rem;
}
a.rs span {
  margin-left: 2rem;
  padding: 0.1rem;
  padding-right: 0.5rem;
}
a.rs:hover div {
  width: 100%;
}
a.rs:hover span {
  color: #fff;
  z-index: 1;
}


/* ÉVÈNEMENTS ET POSTS */
/* ------------------- */

.container .events .card {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  overflow: hidden;
}
.container .events .card img {
  transition: all 0.3s ease;
}
.container .events .card:hover {
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.3);
}
.container .events .card:hover img {
  transform: scale(1.02);
}
.container .events a.card-body, .container a:hover.card-image {
  text-decoration: none;
  color:inherit;
}
.container .events .card-date {
  color: #222;
}
.container .events .card-subtitle {
  color: #333;
}