// Variables
$width: 28.125em;
$height: 18.75em;

$margin: 0.625em;

/* 
==============
Main component 
==============
*/
.eventCard {
  width: $width;
  height: $height;
  margin: $margin;
  
}

/* 
========
Top half  
========
*/
.banner {
  height: calc($height / 2);
}

// Heart icon
.favIcon {
  margin: $margin;
  position: absolute;
  top:0;
  right: 0;
}

.moreActions {
  margin: $margin;
  position: absolute;
  top:0;
  left: 0;
}

/* 
===========
Bottom half 
===========
*/

.infoContainer{
  height:calc($height / 2);
  margin: 0;
  padding: $margin;
}

/* Main information
    - Group
    - Title
    - Join button
*/

// Main div
.infoMain {
  display: flex;
  left: $margin;
  top: $margin;
  height: 5em
}

// Div to store the group's icon
.groupIcon {
  position: relative;

  width: 3.75em;
  height: 3.75em;
    
  top: 50%;
  transform: translateY(-50%);
}

.joinButton {
  top: 0;
  right: 0;
  margin: auto 0;
}

// Div to display the title and the group's name
.infos {
  text-align: left;
  font-size: 0.81em;
  margin-left: $margin;
  width: 100%;
  overflow: hidden;

}

.eventTitle {
  text-align: left;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 2; // Allow the title on 2 lines maximums
   -webkit-box-orient: vertical;

}

/* Details information
    - Date and time
    - Position
*/

// Main div
.infoDetails{
  display: flex;
  justify-content: space-between;
  min-height: 3.6em;
}

// Div with 2 elements (icon and text)
.infoItem {
  display: flex;
  padding-left: 0.94em;
  margin: 0;
  font-size: 0.875em;
}

// An element
.infoItemElement {
  text-align: left;
  align-self: center;
  margin: 0 auto;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 3; // Allow the title on 3 lines maximum
   -webkit-box-orient: vertical;
}