// Variables
$width: 28.125rem;
$height: 19rem;

$margin: 0.625rem;

/* 
==============
Main component 
==============
*/
.eventCard {
  width: 100%;
  height: max-content;
}

/* 
========
Top half  
========
*/
.eventBanner {
  height: 9.5rem;
}

// Heart icon
.favIcon {
  margin: $margin;
  position: absolute;
  top:0;
  right: 0;
}

.moreActions {
  margin: $margin;
  position: absolute;
  top:0;
  left: 0;
}

.topButtons{
  position: absolute;
  width: 100%;
  top: 0;
}

/* 
===========
Bottom half 
===========
*/

.infoContainer{
  height:max-content;
  margin: 0;
  padding: $margin;
}

/* Main information
    - Group
    - Title
    - Join button
*/

// Main div
.infoMain {
  display: flex;
  left: $margin;
  top: $margin;
  height: 5rem
}

// Div to store the group's icon
.groupIcon {
  margin: $margin;
  position: absolute;

  left: 0;

  width: 3.75rem;
  height: 3.75rem;
    
  top: 50%;
  transform: translateY(-50%);
}

.joinButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $margin;
  margin-top: 0;
}

// Div to display the title and the group's name
.infos {
  text-align: left;
  font-size: 0.81em;
  margin-left: $margin;
  width: 100%;
  overflow: hidden;

}

.eventTitle {
  text-align: left;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 2; // Allow the title on 2 lines maximums
   -webkit-box-orient: vertical;

}

/* Details information
    - Date and time
    - Position
*/

// Main div
.infoDetails{
  display: flex;
  justify-content: flex-start;
  min-height: 3.6rem;
}

// Div with 2 elements (icon and text)
.infoItem {
  display: flex;
  margin: 0;
  padding-right: 1.5rem;
  font-size: 0.875rem;
}

// An element
.infoItemElement {
  text-align: left;
  align-self: center;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 3; // Allow the title on 3 lines maximum
   -webkit-box-orient: vertical;
}
