{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Adresse: {{object.address}}</h1>
    <a href="{% url 'roommates:edit-housing' object.id %}" class='btn-sm btn-success'>Modifier la coloc</a>
</br>
</br>
    {%for roommate in roommates_groups%}
        <h2>{{roommate.name}}</h2>
        <p>{{roommate.description}}</p>
        <p>Du {{roommate.begin_date}} au {{roommate.end_date}}</p>

        <p>Liste des membres :</p>
        {% for member in roommate.members%}    
            <p>&emsp; {{member.first_name}} {{member.nickname}} {{member.last_name}} </p>
        {%endfor%}

    {%endfor%}
    
{% endblock %}