{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Adresse: {{object.address}}</h1>
    <a href="{% url 'roommates:edit-housing' object.id %}" class='btn-sm btn-success'>Modifier la coloc</a>
</br>
</br>
    {%for roommate in Roommates%}
    <div style="width: 300px; padding-top: 15px; padding-bottom: 15px; padding-left: 15px;border: 3px solid #000000; background: #ffffff;border-radius: 10px;">
        <div style="text-align:center"><h2>{{roommate.name}}</h2></div>
        <p>{{roommate.description}}</p>
        <p>Du {{roommate.begin_date}} au {{roommate.end_date}}</p>

        <p>Liste des membres :</p>
        {% for member in roommates_groups[roommate.name]['members']%}    
            <p>&emsp; {{member['first_name']}} "{{member['nickname']}}" {{member['last_name']}} </p>
        {%endfor%}
    </div>
    {%endfor%}
    
{% endblock %}