{% extends 'base.html'%}
{% block content%}

<div class="row">
  <div class="col-md">
    <h2>Liste des Colocations</h2>
  </div>
  <div class="col-md-4 text-md-end">
    <a class="btn btn-primary" type="button" href="{% url "roommates:housing-map" %}">Voir la carte</a>
  </div>
</div>
<br \>
<div class="table-responsive">
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    {% for housing in object_list%}
    <tr style="transform: rotate(0);">
      <td><a href="{{ housing.get_absolute_url }}" class="stretched-link"></a>{{housing.name}}</a></td>
      <td>{{housing.address}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}


