{% extends 'base.html'%} 
{% load static %} 

{% block head %}
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
  rel="stylesheet"
/>

<style>
  .mapbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width: 100% !important;
		margin-top: 0.5rem !important;
    position: relative;
    top: 50%;
  }
</style>

{% endblock %} 


{% block content%}
<h1>Carte des colocs</h1>
<br>
<div class="row">
	<div class="col-12">
		<div id="root"></div>
	</div>
</div>
<div class="row mb-2">
	<div class="col-12">
		<a class='btn btn-success mt-3' href="{% url 'roommates:create-new' %}">Ajouter une coloc</a>
	</div>
</div>

{% endblock content%} 

{% block script %}
<script>
  const MAPBOX_TOKEN = "{{MAPBOX_API_KEY}}";
  const api_housing_url = "{% url 'roommates_api:housing-and-roommates' %}";
	const housing_details_url = "{% url 'roommates:housing-details' pk=1 %}";
</script>
<script src='{% static "js/housingMap.js" %}'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
{% endblock %}
