# Environments
*.env
*.env.*
.venv/
env/

*.secret

# Config folders
dav/
dkim/
certs/
data/
filter/
redis/
mail/
webmail/
appdata/
certbot/
mailqueue/
scripts/db_backup.log
scripts/db_staging.log

# Python
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version
