{% extends 'group/detail/detail.html' %}
{% load static %}
{% load file_url %}


{% block object_name %}
    <h1>{{object.name}} ({{object.begin_date|date:'Y'}})</h1>
{% endblock %}

{% block infos %}
    <p>
        Adresse : <a href="https://www.google.com/maps/dir/?api=1&travelmode=transit&destination={{housing.address}}" target='_blank'>{{housing.address}}</a> 
        {% if housing.details is not None %}
         - {{housing.details}}
        {% endif %}
        <br/>
        {% if object.end_date %}
            Colocataires de {{object.begin_date|date:'F Y'|title}} à {{object.end_date|date:'F Y'|title}}.
        {% else %}
            Colocataires depuis {{object.begin_date|date:'F Y'|title}}.
        {% endif %}
    </p>
{% endblock %}


{% block before_content %}
    {% if colocathlon >= 1 and is_member or colocathlon == 2 and object.colocathlon_agree %}
        <div id="root"></div>
    {% endif %}

    <!-- Liste des membres -->
    <br />
    {% if request.user.is_authenticated %}
        {% if members %}
            {% include 'student/student_cards.html' with members=members %}
        {%else%}
            <p>Aucun membre pour l'instant... 😥</p>
        {%endif%}
    {% else %}
        <p>Veuillez vous connecter pour voir les membres.</p>
    {% endif %}
{% endblock %}


{% block members %}
{% endblock %}


{% block after_content %}
    <!-- Liste des autres colocs -->
    <br><br>
    {% if roommates_list %}
        <h2 class="mb-3">Ils sont aussi passés par là...</h2>
        <div class="row">
            {% for roommates in roommates_list %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                    <div class="card h-100">
                        {% if roommates.banniere %}
                            <div class="ratio card-img-top" style="--bs-aspect-ratio: 37%;">
                                <img src="{{roommates.banniere|file_url}}" class="card-img-top" style="object-fit: cover;" />
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{roommates.name}} ({{roommates.begin_date|date:'Y'}})</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% if roommates.end_date %}
                                    De {{roommates.begin_date|date:'F Y'|title}} à {{roommates.end_date|date:'F Y'|title}}
                                {% else %}
                                    Depuis {{roommates.begin_date|date:'F Y'|title}}
                                {% endif %}
                            </h6>
                            <p class="card-text">
                                {{roommates.members.all|join:", "}}
                            </p>
                            <a href="{{roommates.get_absolute_url }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="card bg-success text-white text-center h-100">
                    <div class="card-body d-flex align-items-center">
                        <div class="d-block w-100">
                            <i class="fas fa-plus-circle mb-3" style="font-size:5rem;"></i><br/>
                            <span class="card-text">Ajouter ma coloc à cette adresse</span>
                            <a href="{% url 'roommates:create-roommates' housing.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <br><br>
    {% else %}
        <!-- <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="card text-center">
                    <div class="card-body d-flex align-items-center">
                        <i class="fa fa-plus-circle" style="font-size:4rem;"></i><br/><br>
                        <span class="card-text text-start ms-3">Vous habitez ou avez habité dans le même appart ? Ajouter votre coloc à cette adresse !</span>
                        <a href="{% url 'roommates:create-roommates' housing.pk %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div> -->
    {% endif %}
{% endblock %}


{% block go_to_list %}
    <p><a href="{% url object.app|add:":housing-map" %}">← Retour à la carte des {{object.model_name|title}}</a></p>
    <br>
{% endblock %}

{% block script %}
<script>
  const API_URL = "{% url 'roommates_api:roommates-details' %}";
  const ROOMMATES_SLUG = "{{object.slug}}";
  const EDIT_URL = "{% url 'roommates:colocathlon-edit' 1 %}";
  const PHASE = {{colocathlon}};
  const IS_ADMIN = "{{is_member}}";
  const USER_ID = {{user.id}};
</script>
<script src='{% static "js/roommates/colocathlonCard.js" %}'></script>
{% endblock %}