{% extends 'base.html' %}

{% block content %}
    {% if saisie %}
        <h1>Résultat pour la recherche : {{saisie}}</h1>
    {% else %}
        <h1>Veuillez entrer une recherche</h1>
    {% endif%}

    {% if not empty %}
        <ul>
            {% for student in students %}
                <li><a href="{% url 'student:detail' student.pk %}">{{student.name}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            {% for club in clubs %}
                <li><a href="{{ club.get_absolute_url }}">{{club.name}}</a></li>
            {% endfor %}
        </ul>
        <ul>
            {% for coloc in colocs %}
                <li><a href="{{ coloc.get_absolute_url }}">{{coloc.name}}</a></li>
            {% endfor %}
        </ul>
    {% elif saisie %}
        <p>La recherche n'a malheureusement pas abouti ...</p>
    {% endif %}
{% endblock %}