{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load django_vite %}

{% block content %}

<h1>Paramètres des Notifications</h1>
<div id="subscribe_to_notifications"></div>
<br/>
<h2>Mes abonnements</h2>
<p>Retrouve ici tous les groupes auxquels tu es abonné⋅e. Être abonné à une page
    te permet de recevoir les notifications liées à cette page directement sur
    ton appareil !</p>
<ul>
{% for group in user.subscriptions.all %}
    <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</li>
{% empty %}
    <li>Aucun abonnement pour l'instant.</li>
{% endfor %}
</ul>

{% endblock %}

{% block script %}
{% vite_asset 'src/legacy/notification/deviceSubscribeButton.tsx' %}
{% endblock %}
