$header-height : 11.5em;
$image-url : url("/static/img/central_background.jpg");
// $image-url : url("https://wallpaper.dog/large/10886189.jpg");

.header {
  display : flex;
  width : 100%;
  height: $header-height;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
}
.header-image {
  position: fixed;
  width : 100%;
  background-image: $image-url;
  height: 100%;
  filter: blur(4px);
  background-size: cover;
  background-position: center;
  z-index: -1;

}
#header-title {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
#main-title {
  display: flex;
  font-size: min(10vw,3.4em);
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  line-height: 0.1em;
  color : #232323;
  text-align: center;
  text-shadow: 10px 10px 25px rgb(163, 163, 163),
  -10px 10px 25px rgb(149, 147, 137);
  word-break: keep-all;
  justify-content: center;
  margin : 0px;
  padding-left: 0.2em;
  position: relative;
}
#second-title {
  font-size: min(6vw,1.6em);
  position: relative;
  width: 100%;
  display: block;
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  color : #232323;
  text-align: center;
  text-shadow: 10px 10px 25px rgb(163, 163, 163),
  -10px 10px 25px rgb(149, 147, 137);
  margin : 0px;
  padding: 0px;
}
#header-logo {
  border-radius: 50%;
    box-shadow: 10px 10px 25px rgb(163, 163, 163),
        -10px 10px 25px rgb(149, 147, 137);
}
#home-container {
  align-content: center;
  display: flex;
  padding-top: 20;
  // margin-top: $header-height;
}

#title {
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
}
#logo {
  height: 6.3em;
  width: 6.3em;
}
