$header-height : 13em;


.header {
  display : flex;
  width : 100%;
  height: $header-height;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
}

.header-image-container {
  position: fixed;
  width: 100%;
  height: $header-height;
  background: white;
  z-index: -1;
  overflow: inherit;
}

.header-image {
  position: fixed;
  width : 100%;
  height: $header-height;
  filter: opacity(0.5) grayscale(0.1);
  object-fit: cover;
  z-index: -1;
  overflow: inherit;
}

#header-title {
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-out;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  color: #cd2323;
  text-shadow: 10px 10px 15px #81818154, 
}
#main-title {
  display: flex;
  font-size: min(11vw,4em);
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  line-height: 0.8em;
  text-align: center;
  word-break: keep-all;
  justify-content: center;
  padding-left: 0.2em;
  position: relative;
}
#second-title {
  font-size: min(5vw,1.3em);
  position: relative;
  width: 100%;
  display: block;
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  // color : #232323;
  text-align: center;
  // text-shadow: 10px 10px 25px rgb(163, 163, 163),
  // -10px 10px 25px rgb(149, 147, 137);
  margin : 0px;
  padding: 0px;
}
#header-logo {
  border-radius: 50%;
    // box-shadow: 10px 10px 25px rgb(163, 163, 163),
    //     -10px 10px 25px rgb(149, 147, 137);
}
#home-container {
  align-content: center;
  display: flex;
  padding-top: 20;
  // margin-top: $header-height;
}

#title {
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
}
#logo {
  height: 6.3em;
  width: 6.3em;
}
