{% extends 'base.html'%}
{% block content%}

<h1>Liste des Colocations</h1>
<div class="table-responsive">
  <table class="table table-hover table-sm table-sort">
    <thead>
      <tr>
      <th scope="col">Adresse</th>
      <th scope="col">Nom de la coloc</th>
      </tr>
    </thead>
    <tbody>
      {% for housing in object_list%}
        <tr style="transform: rotate(0);">
        <td>
          {% if housing.current_roommates %}
            <a href="{{ housing.current_roommates.get_absolute_url }}" class="stretched-link"></a>
          {% else %}
            <a href="{% url 'roommates:create-roommates' housing.pk %}" class="stretched-link"></a>
          {% endif %}
          {{housing.address}} {% if housing.details %}- {{housing.details}}{% endif %}
        </td>
        <td>
          {% if housing.current_roommates %}{{housing.current_roommates.name}}{% endif %}
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="btn btn-primary" type="button" href="{% url "roommates:housing-map" %}">Voir la carte</a>
<a class="btn btn-primary" type="button" href="{% url "roommates:create-housing" %}">Ajouter ma coloc</a>


<script>
  // fonction de tri du taleau
  const getCellValue = (tr, idx) => tr.children[idx].textContent;
  const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
  document.querySelectorAll('.table-sort th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    const tbody = table.querySelector('tbody');
    Array.from(tbody.querySelectorAll('tr'))
      .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
      .forEach(tr => tbody.appendChild(tr) );
  })));
</script>

{% endblock %}


