{% extends 'base.html'%} 
{% load static %} 
{% load django_vite %}

{% block head %}
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
  rel="stylesheet"
/>

<style>
  .mapbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width: 100% !important;
    margin-top: 0.5rem !important;
    position: relative;
    top: 50%;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

{% endblock %} 

{% block title %}Carte des Colocs - {% endblock %}

{% block content%}
<div id="root">
  <div class="loader">
    <div class="spinner-border loader" style="height:75px!important; width:75px!important"role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>

<a class='btn btn-primary mt-3' href="{% url 'roommates:housing-list' %}">Voir la liste</a>
<a class='btn btn-primary mt-3' href="{% url 'roommates:create-housing' %}">Ajouter ma coloc</a>

{% endblock content%} 

{% block script %}
<script>
  const PHASE_COLOCATHLON = {{colocathlon}};
  const MAPBOX_TOKEN = "{{MAPBOX_API_KEY}}";
  const API_HOUSING_URL = "{% url 'roommates_api:housing' %}";
  const CURRENT_COLOC = "{{CURRENT_COLOC}}"
  const CURRENT_COLOC_URL = "{{CURRENT_COLOC_URL}}"
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
{% vite_asset 'src/legacy/roommates/housingMap.tsx' %}
{% endblock %}
