{% extends 'base.html' %}
{% load static %}
{% load file_url %}

{% block banniere %}
    {% if object.image %}
        <div class="ratio ratio-banniere container-xl">
            <img class="banniere" src='{{ object.image|file_url }}'>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{object.title}}</h1>
    <p>Annonce par <a href='{{group.absolute_url }}'>{{group.name}}</a></p>
    </br>
    {% autoescape off %}
        <p>{{object.description}}</p>
    {% endautoescape %}
{% endblock %}
