{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<h1>Suggestions / Bugs</h1>
<p>Vous avez une idée d'amélioration ? Ou vous avez trouvé un bug ? Faites nous en part !</p>
<div class="alert alert-info">
    <i class="fas fa-info-circle me-2"></i>
    Avant de signaler un bug, merci de vérifier que celui-ci n'est pas déjà réportorié dans notre
    <a href="https://github.com/3cn-ecn/nantralPlatform/issues" class="alert-link text-decoration-underline" target="_blank" rel="noopener">liste de suggestions et de bugs</a>.
</div>

<form method='POST'>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-dark">Suggérer</button>
</form>
{% endblock %}
