{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Modifier ma Famille</h1>
    <p>Gérez les infos sur votre famille. Attention, une famille est composée au
        maximum de 7 parrains et marraines. Si vous êtes plus nombreux, créez
        une seconde famille !</p>
    <br>
    
    <form method="post">
        {% csrf_token %}
        <div class="row g-5">
            <div class="col-12 col-md-6">
                <h2>Membres</h2>
                {{ members_form.management_form }}
                {% for form in members_form %}
                    <p>{{ form }}</p>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                <h2>Infos générales</h2>
                {{ update_form|crispy }}
            </div>
            <div class="col-12">
                <h2>Questionnaire pour les familles</h2>
                {{ question_form|crispy }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enregistrer ma famille</button>
    </form>

{% endblock %}