{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    
    <h1 class="mb-4">Questionnaire de Parrainage</h1>
    <h2>{{page.order}}. {{page.name}}</h2>
    <div class="progress mt-3 mb-4" style="height:5px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% if page.details %}<p>{{page.details}}</p>{% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success">Valider</button>
    </form>

{% endblock %}