

<h1>
    <a href="{{ object.get_absolute_url }}"><i class="fas fa-arrow-alt-circle-left link-dark"></i></a>  
    {{object.name}}
</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if open == 'general' %}active" aria-current="page{% endif %}" 
            href="{% url appname|add:':update' object.mini_slug %}">
            <i class="fa fa-cog"></i> Général
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "members" %}active" aria-current="page{% endif %}" 
            href="{% url appname|add:':update-members' object.mini_slug %}">
            <i class="fa fa-users"></i> Membres
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "events" %}active" aria-current="page{% endif %}" 
            href="{% url appname|add:':update-events' object.mini_slug %}">
            <i class="fa fa-calendar-plus-o"></i> Évènements
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "news" %}active" aria-current="page{% endif %}"
            href="{% url appname|add:':update-posts' object.mini_slug %}" >
            <i class="fa fa-calendar-plus-o"></i> Annonces
        </a>
    </li>
</ul>

<br/>

