.notif {
  line-break: auto;
}

.spanno {
  display:inline-block;
    width: 300px;
    overflow-wrap:normal;
}

small {
  display:inline-block;
    max-width: 100px;
    overflow-wrap:normal;
}

p.title {
  font-weight: 700;
}

p.body {
  font-size: 10;
}