{% extends 'base.html' %}
{% load static %}
{% load file_url %}
{% load video %}
{% load ckeditor5 %}

{% block head %}
    <meta name="description" CONTENT="{{object.summary}} - {{object.name}} ({{object.alt_name}}) - Centrale Nantes">
{% endblock %}

{% block title %}{{ object.name }} - {% endblock %}

{% block favicon %}
    {% if object.logo %}
        {{object.logo|file_url}}
    {% else %}
        {% static '/img/logo.svg' %}
    {%endif%}
{% endblock %}

{% block banniere %}
    {% if object.banniere %}
        <div class="ratio ratio-banniere container-xl">
            <img class="banniere" src='{{ object.banniere|file_url }}'>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- En-tête de la page -->
    <div class="row">
        <!-- logo -->
        {%if object.logo %}
            <div class="col-12 col-sm-3">
                <a href="{{object.logo|file_url}}">
                    <div class="ratio ratio-1x1 logo-div mb-4">
                        <img class="logo" src="{{object.logo|file_url}}">
                    </div>
                </a>
            </div>
        {% endif %}
        <!-- description du club : nom, infos... -->
        <div class="col">
            {% block object_name %}<h1>{{object.name}}</h1>{% endblock %}
            <p>
            {% if request.user.is_authenticated %}
                {% if is_member and is_admin %}
                    <div class="btn-group" role="group">
                        <button class='btn btn-light btn-sm disabled border'>
                            <i class="fa fa-crown"></i>
                            Vous êtes admin !
                        </button>
                        <button id='show-add-group' class='btn btn-secondary btn-sm' data-bs-toggle="modal" data-bs-target="#addModal">
                            Modifier
                        </button>
                    </div>
                {% elif is_member %}
                    <div class="btn-group" role="group">
                        <button class='btn btn-light btn-sm disabled'>
                            <i class="fa fa-user"></i>
                            Vous êtes membre !
                        </button>
                        <button id='show-add-group' class='btn btn-secondary btn-sm' data-bs-toggle="modal" data-bs-target="#addModal">
                            Modifier
                        </button>
                    </div>
                {% else %}
                    <button id='show-add-group' class='btn btn-dark btn-sm' data-bs-toggle="modal" data-bs-target="#addModal">
                        <i class="fa fa-user-plus"></i>
                        Devenir membre
                    </button>
                {% endif %}
                {% if is_admin %}
                    <a href='{%url object.app|add:":update" object.slug %}' class="btn btn-dark btn-sm"><i class="fa fa-pencil"></i> Modifier la page</a>
                {%endif%}
            {% endif %}
            </p>
            {% block infos %}
                {% if object.summary %}
                    <p>{{ object.summary }}</p>
                {% endif %}
            {% endblock %}
            {% include "sociallink/liste.html" with sociallinks=sociallinks%}
        </div>
    </div>

    {# Ajout possible de contenus pour certaines pages #}
    {% block before_content %}
    {% endblock %}

    <!-- Events -->
    {% if has_events %}
        <br>   
        <h2>Évènements</h2>
        {% if request.user.is_authenticated %}
            <div id="root"></div>
        {%else%}
            <p>Veuillez vous connecter pour voir les évènements à venir.</p>
        {%endif%}
    {% endif %}
    
    <!-- Anonces -->
    {% if posts %}
        <br>
        <h2>Annonces</h2>
        {% for post in posts %}
        <a href="{{post.get_absolute_url }}" style='color:white;' class="mb-1">
            <div class="card pt-0 bg-{{post.color}}" style="box-shadow: 1px 1px 7px #999">
              <div class="card-body">
                <h5 class="card-title" >{{post.title}} • {{post.publication_date|date:'l d F'}}</h5>
                <h6 class="card-subtitle mb-2">{{post.get_group.name}}</h6>
            </h6>
                <p class="card-text" >{% autoescape off %}{{post.description | truncatewords_html:20}}{% endautoescape %}</p>
              </div>
            </div>
          </a>
          <br \>
        {% endfor %}
    {% endif %}

    <!-- Vidéos s'il y en a 2 -->
    {% if object.video1 and object.video2 or object.video1 and not object.description %}
        <br />
        <div class="row gy-3">
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9">
                    {% video object.video1 %}
                </div>
            </div>
            {% if object.video2 %}
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9">
                    {% video object.video2 %}
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}

    <!-- Description avec vidéo dans le coin s'il y en a une seulement-->
    {% if object.description %}
        <br>
        <div class="clearfix">
            {% if object.video1 and not object.video2 %}
            <div class="col-md-6 float-md-end mb-3 ms-md-3">
                <div class="ratio ratio-16x9">
                    {% video object.video1 %}
                </div>
            </div>
            {% endif %}
            {% if object.description %}
                {% ckeditor5 object.description %}
            {% endif %}
        </div>
    {% endif %}

    {% block members %}
        <!-- Liste des membres -->
        <br />
        <h2>Membres</h2>
        <div id=root2></div>
    {% endblock %}

    {# Ajout possible de contenus pour certaines pages #}
    {% block after_content %}
    {% endblock %}

    {% block go_to_list %}
        <br><br>
        <p><a href="{% url object.app|add:":index" %}">← Retour à la liste des {{object.modelName|title}}</a></p>
        <br>
    {% endblock %}
    
    {# Bouton pour faire une demande pour devenir admin #}
    {% block admin_req %}
        {% if is_member and not is_admin %}
            {% include 'group/included/request-admin.html' %}
        {%endif%}
    {% endblock %}

    {# popup pour devenir membre du groupe #}
    {% block add_member %}
        {% include 'group/included/add-member.html' %}
    {% endblock %}

    <br>
{% endblock %}

{% block script %}
<script>
    const eventsApiUrl = "{% url 'event_api:list-all-group-events' object.full_slug %}";
    const eventListParticipants = "{% url 'event_api:list-participants' '1' %}";
    const eventsRemoveParticipant = "{% url 'event:remove-participant' '1' %}";
    const eventsAddParticipant = "{% url 'event:add-participant' '1' %}";
    const is_admin = {{ is_admin|yesno:"true,false,false" }};
    const membersURL = "{% url object.app|add:'_api:list-members' %}?slug={{ object.slug }}";
</script>
<script src='{% static "js/eventsView.js" %}'></script>
<script src='{% static "js/groupMembers.js" %}'></script>
{% endblock %}

