{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }} -{% endblock %}

{% block banniere %}
    {% if object.banniere %}
    <div class="ratio ratio-banniere">
        <img class="banniere" src='{{ object.banniere.url }}?{{object.modified_date}}'>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {%if object.logo %}
            <div class="col-sm-3">
                <img class="logo" src='{{object.logo.url}}?{{object.modified_date}}'>
            </div>
        {% endif %}
        <div class="col">
            <h1>{{object.name}}</h1>
            <p>
            {% if request.user.is_authenticated %}
                {% if is_member and is_admin %}
                    <button class='btn btn-light btn-sm disabled'>
                        <i class="fa fa-crown"></i>
                        Vous êtes admin du groupe.
                    </button>
                {% elif is_member %}
                    <button class='btn btn-light btn-sm disabled'>
                        <i class="fa fa-user"></i>
                        Vous êtes déjà membre !
                    </button>
                {% else %}
                    <button id='show-add-group' class='btn btn-dark btn-sm' data-bs-toggle="modal" data-bs-target="#addModal">
                        <i class="fa fa-user-plus"></i>
                        Devenir membre
                    </button>
                {% endif %}
                {% if is_admin %}
                    <a href='{%url object.group_type|add:":update" object.mini_slug %}' class="btn btn-dark btn-sm"><i class="fa fa-pencil"></i> Modifier la page</a>
                {%endif%}
            {% endif %}
            </p>
            {% if object.summary %}
                <br>
                <p>{{ object.summary }}</p>
            {% endif %}
            {% include "sociallink/liste.html" with sociallinks=sociallinks%}
        </div>
    </div>
    {% if events %}
        <br>   
        <h2>Évènements</h2>
        {% if request.user.is_authenticated %}
            <div class="row">
                {% for event in events %}
                    <div class='card'>
                        <div class='card-title'>
                            <h6>{{event.title}}</h6>
                            <small class='text-muted'>
                                <i class="fas fa-calendar-day"></i> 
                                {{event.date|date:'Y-m-d H:i'}}</br>
                                <i class="far fa-compass"></i> 
                                {{event.location}}
                            </small>
                        </div>
                        <div class='card-body'>
                            {{event.description | truncatewords_html:35}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {%else%}
            <p>Veuillez vous connecter pour voir les évènements à venir.</p>
        {%endif%}
    {% endif %}
    
    {% if posts %}
        <br>
        <h2>Annonces</h2>
        {% for post in posts %}
            <a href="{{post.get_absolute_url}}" style='color:white' class="mb-1">
                <div class="card pt-0 bg-{{post.color}}" style="box-shadow: 1px 1px 7px #999">
                    <div class="card-body">
                        <h5 class="card-title" >{{post.title}} • {{post.publication_date|date:'d:m'}}</h5>
                        <h6 class="card-subtitle mb-2">{{post.get_group.name}}</h6>
                        <p class="card-text" >{{post.description | truncatewords_html:20}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}

    {% if object.description %}
        <br>
        {% autoescape off %}
        <p>{{object.description}}</p>
        {% endautoescape %}
    {% endif %}

    <br />
    <h2>Membres</h2>
    {% if request.user.is_authenticated %}
        {% if members %}
            {% for member in members %}
                <a href='{% url "student:detail" member.student.id%}' class='card'>
                    {{member.student.user.first_name}} {{member.student.user.last_name}} -
                    {{member.function}} - {{member.date_begin}}
                </a>
            {% endfor %}
        {%else%}
            <p>Aucun membre pour l'instant... 😥</p>
        {%endif%}
    {% else %}
        <p>Veuillez vous connecter pour voir les membres.</p>
    {% endif %}

    {% block extra-content %}
    {% endblock %}

    {% block admin-req %}
        {% if is_member and not is_admin %}
            {% include 'group/detail/request-admin.html' %}
        {%endif%}
    {% endblock %}

    {% block add-member %}
        {% include 'group/detail/add-member.html' %}
    {% endblock%}

    <br>
{% endblock %}
