{% extends 'base.html'%}
{% block content%}
<h1>Annuaire des Nantralien·ne·s</h1>
<br \>
<div class="table-responsive">
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">NOM</th>
      <th scope="col">Prénom</th>
      <th scope="col" class="d-none d-sm-table-cell">Promotion entrante</th>
      <th scope="col" class="d-none d-sm-table-cell">Filière</th>
      <th scope="col" class="d-none d-sm-table-cell">Cursus</th>

    </tr>
  </thead>
  <tbody>
    {% for student in object_list%}
    <tr style="transform: rotate(0);">
      <td><a href="{% url "student:detail" student.id%}" class="stretched-link"></a>{{student.user.last_name | upper}}</a></td>
      <td>{{student.user.first_name | title}}</td>
      <td class="d-none d-sm-table-cell">{{student.promo}}</td>
      <td class="d-none d-sm-table-cell">{{student.get_faculty_display}}</td>
      <td class="d-none d-sm-table-cell">{{student.get_path_display}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}


