{% extends 'base.html'%}
{% block  content%}
<h1>{{object.first_name | title}} {{object.last_name | upper}}</h1>
{% if object.picture %}
<img width="100" height="auto" src='{{object.picture.url}}'>
{% endif %}
<p>{{object.get_faculty_display}} | {{object.get_path_display}}</p>
<p>Promotion entrante : {{object.promo}}</p>

<h2>Parcours scolaire</h2>
{% for course in courses%}
    <p>{{course.when}} {{course.course.course_type}} <a href="{% url 'academic:course' course.id%}">{{course.course.name}}</a></p>
{% endfor %}
<h2>Clubs</h2>
{% for club in clubs %}
    <a href='{{ club.group.get_absolute_url }}' class='card'>
        {{club.group.name}}
        {{club.function}} | {{club.year}}
    </a>
{% endfor %}
{%endblock%}