{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block  content%}
<br \>
<h1>{{object.first_name | title}} {{object.last_name | upper}}</h1>
<p>{{object.user.email}}</p>
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success">Modifier</button>
</form>
<br />
<h2>Changer le mot de passe</h2>
<form method='POST' action='{% url "student:change_pass" object.id%}'>
    {% csrf_token %}
    {{ password_form|crispy }}
    <button class="btn btn-success">Modifier</button>
</form>
<br />
<h2>Mes cours</h2>
<form method='POST' action='{% url "academic:student_courses" object.id%}'>
    {% csrf_token %}
    {{ courses_form|crispy }}
    <button class="btn btn-success">Modifier</button>
</form>
<br />
{%endblock%}
