{% extends 'base.html' %}
{% load static %}
{% block content%}
<br \>

<div style="text-align:center;">
<img src='{% static "/img/logo.svg" %}' style=" width:80%;max-width:150px;}">
<h1>Nantral&nbsp;Platform.</h1> Annuaire, événements et services dédiés aux étudiant.e.s de Centrale Nantes.
</div>

<br \>

<div style="clear:left">
    <h2>Événements à venir</h2>
    {% for when, events in events.items %}
    <h3>{{when}}</h3>
      {% for event in events %}
      <a href="{{event.get_absolute_url}}" style='color:white'>
        <div class="card pt-0 bg-{{event.color}}">
          <div class="card-body">
            <h5 class="card-title" >{{event.title}} • {{event.date|date:'H:i'}} • {{event.location}}</h5>
            <h6 class="card-subtitle mb-2 text-muted" style='color:white' >{{event.get_group.name}}</h6>
            <p class="card-text" >{{event.description}}</p>
          </div>
        </div>
      </a>
      {% endfor %}

    {% endfor %}
</div>

{% endblock%}
