{% extends 'base.html' %}
{% load static %}
{% block content%}
<br />

<div style="text-align:center;">
  <img src='{% static "/img/logo.svg" %}' style="width:80%;max-width:150px;">
  <h1>Nantral&nbsp;Platform.</h1> 
  Annuaire, évènements et services dédiés aux étudiant·e·s de Centrale Nantes.
</div>

<br />

<div class="events" style="clear:left">
    <h2>Évènements à venir</h2>
    <div id="root"></div>
    <h2>Dernières annonces</h2>
      {% for post in posts %}
      <a href="{{post.get_absolute_url }}" style='color:white;' class="mb-1">
        <div class="card pt-0 bg-{{post.color}}" style="box-shadow: 1px 1px 7px #999">
          <div class="card-body">
            <h5 class="card-title" >{{post.title}} • {{post.publication_date|date:'l d F'}}</h5>
            <h6 class="card-subtitle mb-2">{{post.get_group.name}}</h6>
        </h6>
            <p class="card-text" >{% autoescape off %}{{post.description | truncatewords_html:20}}{% endautoescape %}</p>
          </div>
        </div>
      </a>
      <br \>
    {% endfor %}
</div>

{% endblock%}

{% block script %}
<script>
  const eventsApiUrl = "{% url 'event_api:list-home-events' %}";
  const eventListParticipants = "{% url 'event_api:list-participants' '1' %}"
  const eventsRemoveParticipant = "{% url 'event:remove-participant' '1' %}"
  const eventsAddParticipant = "{% url 'event:add-participant' '1' %}"
</script>
<script src='{% static "js/eventsView.js" %}'></script>
{% endblock %}
