{% extends 'base.html' %}
{% load static %}
{% block content%}
<br \>
<h2>Accueil</h2>
<p style="text-align:center"><img src='{% static "/img/logo.svg" %}' style=" width:40%;max-width:150px;}">
<br \>
Bienvenue sur Nantral Platform !
<br \>
Nantral Platform regroupe des services dédiés aux étudiant.e.s de Centrale Nantes.
</p>
<div>
    <h2>Événements à venir</h2>
    {% for when, events in events.items %}
    <h3>{{when}}</h3>
      {% for event in events %}
        <div  class="card pt-0">
          <div class="card-body">
            <h5 class="card-title"><a href="{{event.get_absolute_url}}">{{event.title}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{event.get_group.name}}</h6>
            <p class="card-text">{{event.description}}</br> <small><i class="fa fa-calendar-o"></i> {{event.date|date:'Y-m-d H:i'}} <i class="far fa-compass"></i> {{event.location}}</small></p>
          </div>
        </div>
      {% endfor %}

    {% endfor %}
</div>

{% endblock%}
