{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Adresse: {{object.address}}</h1>
    <a href="{% url 'roommates:update' object.id %}" class='btn-sm btn-success'>Modifier la coloc</a>
</br>
</br>
<p>{{object.details}}</p>

    {%for roommate in roommates_groups%}
        <h2>{{roommate.name}}</h2>
        <p>{{roommate.description}}</p>
        <p>{{roommate.duration}}</p>

        <p>Liste des membres :</p>
        {% for member in roommate.members%}    
            <p>&emsp; {{member.first_name}} {{member.nickname}} {{member.last_name}} </p>
        {%endfor%}
    </br>
    {%endfor%}
    
{% endblock %}