@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-red-color: #dc3545;

::selection {
  background: $primary-red-color;
  color: white;
}
