{% extends 'base.html'%}

{% block content%}
	<h1>Liste des formations</h1>
	<br \>
	<div class="table-responsive">
		<table class="table table-hover table-sm">
  			<thead>
				<tr>
	  				<th scope="col">Nom de la formation</th>
					<th scope="col">Type</th>
				</tr>
  			</thead>
  			<tbody>
				{% for course in object_list %}
					<tr style="transform: rotate(0);">
	  					<td><a href="{{ course.get_absolute_url() }}" class="stretched-link"></a>{{course.name}}</a></td>
	  					<td>{{course.type}}</td>
					</tr>
				{% endfor %}
  			</tbody>
		</table>
	</div>
{% endblock %}


