{% extends 'base.html'%}
{% load file_url %}
{% load static %}
{% load django_vite %}


{% block  content%}
    <div class="row">
    
        {%if object.picture %}
            <div class="col-12 col-sm-3">
                <a href="{{object.picture|file_url}}">
                    <div class="ratio ratio-1x1 logo-div mb-4">
                        <img style="border-radius:100%;" class="logo" src='{{object.picture|file_url}}'>
                    </div>
                </a>
            </div>
        {% endif %}

        <div class="col">
            <h1>{{object.name}}</h1>
            <h5>Identifiant Matrix : @{{ object.user.username }}:nantral-platform.fr</h5>
            <p>{{object.get_faculty_display}}
                {% if object.get_path_display %}
                - {{object.get_path_display}}
                {% endif %}
                <br>
                Année d'arrivée à Centrale Nantes : {{object.promo}}
            </p>
            <p>
            {% if request.user == object.user %}
                <a class='btn btn-dark btn-sm' href="{% url 'student:update' request.user.pk %}">
                    <i class="fa fa-edit"></i>
                    Modifier mon profil
                </a>
            {% endif %}
            </p>
            {% include "sociallink/liste.html" with sociallinks=sociallinks%}
        </div>

    </div>

    {% if colocs %}
        <h2>Colocs</h2>
        <p>
        {% for membership in colocs %}
            <a href="{{membership.group.get_absolute_url }}">{{ membership.group.name }} ({{membership.group.begin_date|date:'Y'}})</a><br/>
        {% endfor %}
        </p>
    {% endif %}

    <div id="root-members" />
{%endblock%}

{% block script %}
<script>
    const studentId = "{{ object.id }}";
</script>
{% vite_asset 'src/legacy/group/MembershipsStudent.tsx' %}
{% endblock %}
