{% load static %}
{% load file_url %}

<style> 
    .icon{
        width:100;
        height:100%;
        object-fit:cover;
        border-radius:100%;
    } 
    h5 {
        margin-bottom:0;
    }
</style>

<div class="row g-3">
    {% for member in members %}
        <div class="col-12 col-sm-6 col-lg-4 col-xxl-3 d-grid">
            <a class="btn btn-light" href="{{ member.user.get_absolute_url }}">
                <div class="row g-3">
                    <div class="col-3">
                        <div class="ratio ratio-1x1">
                            {% if member.user.picture %}
                                <img class='icon' src='{{ member.user.picture|file_url }}'>
                            {% else %}
                                <img class='icon' src="https://api.dicebear.com/7.x/thumbs/svg?seed={{member.user.name}}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="col text-start">
                        <h5>{{member.user.name}}</h5>
                        {% if member.function %}
                            <span>{{ member.function }}</span><br/>
                        {% elif member.nickname %}
                            <span>{{ member.nickname }}</span><br/>
                        {% endif %}
                        {% if member.date_begin %}
                            <small style='transform: translateY(-0.1rem);position:absolute;'><i>
                                {% if member.date_end %}
                                    Membre du {{ member.date_begin}} au {{ member.date_end }}
                                {% else %}
                                    Membre depuis le {{ member.date_begin }}
                                {% endif %}
                            </i></small><br/>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>