{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block  content%}
<h1>{{object.name}}</h1>
<p>{{object.user.email.email}}</p>
<p><a class="btn btn-primary" href="/account/email/">Gérer les adresses mail <i class="fa fa-external-link"></i></a></p>
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success">Modifier</button>
</form>
<br />
<h2>Changer le mot de passe</h2>
<form method='POST' action='{% url "student:change_pass" object.id%}'>
    {% csrf_token %}
    {{ password_form|crispy }}
    <button class="btn btn-success">Modifier</button>
</form>
{%endblock%}
