{% extends 'abstract_group/detail/detail.html' %}

{% block infos %}
    {% if object.email or object.meeting_place or object.meeting_hour %}
        <p class="infos">
            {% if object.email %}
                <span class="text-nowrap"><span><i class="fas fa-envelope"></i></span> <a href='mailto:{{ object.email }}'>{{object.email}}</a></span>
            {% endif %}
            {% if object.meeting_place %}
                <span class="text-nowrap"><span><i class="fas fa-map-marker-alt"></i></span> {{ object.meeting_place }}</span>
            {% endif %}
            {% if object.meeting_hour %}
                <span class="text-nowrap"><span><i class="far fa-clock"></i></span> {{ object.meeting_hour }}</span>
            {% endif %}
        </p>
        <style>
            p.infos > span {
                margin-right: 2rem;
            }
            p.infos > span, p.infos a {
                color: #707070;
            }
            p.infos > span > span {
                background-color: #eeeeee;
                border-radius:100%;
                width: 1.7rem;
                height:1.7rem;
                text-align: center;
                display: inline-block;
                transform: translateY(-0.2rem);
            }
            p.infos > span > span > i {
                transform: translateY(0.2rem);
            }
        </style>
    {% endif %}
    {% if object.summary %}
        <p>{{ object.summary }}</p>
    {% endif %}
{% endblock %}