{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load file_url %}

{% block head %}
    <meta name="description" CONTENT="Découvrez les clubs & associations de Centrale Nantes ! BDE, BDA, BDS... tous les clubs sont référencés !">
    <style>
      .loader {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col">
      <h1>Clubs Nantraliens</h1>
    </div>
    <!--div class="col text-end">
      <input type="textbox">
    </div-->
  </div>
  <br />

  {% if user.is_authenticated %}
    <h2>Mes Clubs et Assos</h2>
    <div id="root">
      <div class="loader">
        <div class="spinner-border loader" style="height:75px!important; width:75px!important"role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  {% endif %}

  {% cache None club_list %}
    {% for key, value in club_list.items %}
      <h2>{{ key }}</h2>
      <div class="grille">
        {% for club in value %}
          <div class="grille-icon text-center" style="transform: rotate(0)">
            <a href="{{ club.get_absolute_url }}" class="stretched-link">
              <div class="ratio ratio-1x1">
                {% if club.logo %}
                  <img src="{{ club.logo|file_url }}" />
                {% else %}
                  <img src="https://avatars.dicebear.com/api/initials/{{club.slug}}.svg" />
                {% endif %}
              </div>
            </a>
            <h6>{{ club.name }}</h6>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endcache %}
{% endblock %}

{% block script %}
  {% if user.is_authenticated %}
    <script>
      const myClubsURL = "{% url 'club_api:list-my-clubs' %}";
    </script>
    <script src='{% static "js/club/clubsList.js" %}'></script>
  {% endif %}
{% endblock %}
