{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include 'abstract_group/included/navbar_edit.html' with open='members' %}

<h2>Membres</h2>
<!--<form method='POST' action="{% url object.app|add:':update-members' object.slug %}">
    {% csrf_token %}
    {{ members.management_form }}
    {% for member in members %}
    <div class='card'>
        <div class='card-body'>
            {{member |crispy}}
        </div>
    </div>
    {% endfor %}
    </br>
    <button class='btn btn-dark'>Modifier les membres</button>
</form>-->
<div id="root2"></div>
{% endblock %}
{% block script %}
<script>
  const membersURL = "{% url object.app|add:'_api:list-members' %}?slug={{ object.slug }}";
  const studentsURL = "{% url 'student_api:list' %}";
</script>
<script src='{% static "js/group/editGroupMembers.js" %}'></script>
{% endblock %}