{% extends 'base.html'%} {% block content%}
<br \>
<h2>Signature Centrale Nantes</h2>
<style>
	.col-md-6,
	.col-sm-12 {
		padding: 15px;
	}
</style>
<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-sm-12'>
			<form class='oxy form-group'>
				<label for="nom">Nom / <i>Last Name</i> : </label>
				<input class="form-control" type="text" name="nom" placeholder="Avrilier">
				<label for="prenom">Prénom / <i>First Name</i> : </label>
				<input class="form-control" type="text" name="prenom" placeholder="Jean-Baptiste">
				<label for="annee">Année / <i>Year</i> : </label>
				<input class="form-control" type="number" name="annee" placeholder="1,2,3,55...">
				<small class="form-text text-muted">Entrez votre année à l'école en chiffre. / <i>Your school year in number format.</i></small>
				<label for="option">Option / <i>Option</i> : </label>
				<input class="form-control" type="text" name="option" placeholder="Cassage de bâtiment">
				<label for="misc">Autre / <i>Other</i> : </label>
				<textarea class="form-control" name="misc" cols="20" rows="2" placeholder="Directeur d'École, Gardien de crèche"></textarea>
				<small class="form-text text-muted">Ce qui vous distingue : associations, DD par exemple webmaster, J.E. ... / <i>What makes you unique: associations, international...</i></small>
				<label for="tel">Téléphone / <i>Phone</i> : </label>
				<input class="form-control" type="tel" name="tel" placeholder="+33 2...">
				<label for="mail">Courriel / <i>Mail</i> : </label>
				<input class="form-control" type="email" name="mail" placeholder="jean-baptiste.avrilier@eleves.ec-nantes.fr">
			</form>
			<button class="btn btn-primary" id='generer'>Générer</button></br>
		</div>
		<div class='col-md-6 col-sm-12'>
			<br><br>
			<table id="signature" style="color: #0E2748; font-size: small;">
				<tbody>
					<tr>
						<td rowspan="8" width="200" valign="top">
							<a href="https://www.ec-nantes.fr/" target="_blank">
								<img src="https://www.ec-nantes.fr/medias/photo/v_logo-sign_1492585942308-png" alt="École Centrale Nantes |" class="CToWUd" width="184"></a>
						</td>
						<td id="np" style="font-size: medium; font-weight: 900;"> Jean-Baptiste Avrilier</td>
					</tr>
					<tr>
						<td style="font-style: italic;">Elève Ingénieur⋅e en <span id="an">Xème</span> Année</td>
					</tr>
					<tr>
						<td id="op">Option Cassage de Bâtiment C</td>
					</tr>
					<tr>
						<td>
							<img src="https://www.ec-nantes.fr/medias/photo/v_tiret-sign_1492585977585-png" alt="----" class="CToWUd" height="12"></td>
					</tr>
					<tr>
						<td>
							<span id="divers">
            Directeur d'École<br>
            Gardien de crèche<br>
          </span></td>
					</tr>
					<tr id="barre">
						<td>
							<img src="https://www.ec-nantes.fr/medias/photo/v_tiret-sign_1492585977585-png" alt="----" class="CToWUd" height="12"></td>
					</tr>
					<tr>
						<td><a id="tel" href="tel:+33 2 40 37 16 00" style="text-decoration-line: none; color: #0E2748;">T : +33 2 40 37 16 00</td>
      </tr>
      <tr>
        <td><a id="mail" href="mailto:arnaud.poitou@eleves.ec-nantes.fr" style="text-decoration-line: none; color: #0E2748; font-weight: bold;">
            jean-baptiste.avrilier@eleves.ec-nantes.fr</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='col-md-6 col-sm-12'>
			<p>Pour intégrer la signature :</p>
			<ul>
				<li>Selectionner la signature en entier (Image comprise)</li>
				<li>Ctrl+C</li>
				<li>Dans votre webmail "ajouter une nouvelle signature"</li>
				<li>Passer en format html</li>
				<li>Ctrl+V dans le cadre</li>
				<li>Enregistrer</li>
			</ul>
		</div>
		<div class='col-md-6 col-sm-12'>
			<p>To use it :</p>
			<ul>
				<li>Select all the generated signature (Image included)</li>
				<li>Ctrl+C</li>
				<li> In your webmail add a new signature</li>
				<li>Select format html</li>
				<li>then do Ctrl+V in the frame</li>
				<li>Save</li>
			</ul>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('#generer').click(function() {

			//nom et prénom
			$('#np').text($('input[name="prenom"]').val() + " " + $('input[name="nom"]').val());

			//année
			if ($('input[name="annee"]').val() == 1) {
				$("#an").text("1ère");
			} else {
				$("#an").text($('input[name="annee"]').val() + "ème");
			}

			//option
			if ($('input[name="option"]').val() == "") {
				$('#op').text("");
			} else {
				$('#op').text("Option " + $('input[name="option"]').val());
			}

			//divers
			if ($('textarea[name="misc"]').val() != "") {
				$('#divers').html("");
				var divers = $('textarea[name="misc"]').val().split("\n");
				for (i in divers) {
					$('#divers').append(document.createTextNode(divers[i]));
					if (i < divers.length - 1) {
						$('#divers').append("<br>");
					}
				}
			} else {
				$('#divers').html('');
				$('#barre').html('');
			}

			//téléphone
			if ($('input[name="tel"]').val() == "") {
				$("#tel").text("");
				$("#tel").attr("href", "");
			} else {
				$('#tel').text("T : " + $('input[name="tel"]').val());
				$('#tel').attr("href", "tel:" + $('input[name="tel"]').val());
			}

			//mail
			if ($('input[name="mail"]').val() == "") {
				$("#mail").text("");
				$("#mail").attr("href", "");
			} else {
				$('#mail').text($('input[name="mail"]').val());
				$('#mail').attr("href", "mailto:" + $('input[name="mail"]').val());
			}

		});

	});
</script>

{% endblock %}