{% extends 'base.html' %}
{% load static %}

{% block content%}

  <div class="card border-danger mb-3">
    <div class="card-body text-danger">
      <h1 class="card-title">Erreur 413 - Fichier trop lourd</h1>
      <p class="card-text">Désolé, le fichier que vous essayez d'importer est trop lourd pour le serveur... Essayez de le compresser avant de l'envoyer !</p>
    </div>
  </div>
  <br>
  <p>
    Cliquez sur le mouton pour revenir à la page d'accueil :
  </p>
  <a class="btn btn-light" href="{% url 'home:home' %}">
    <img src='{% static "/img/sheep.png" %}' style=" width:40%;max-width:150px;}">
  </a>

{% endblock%}
