{% extends 'base.html' %}
{% load static %}

{% block content%}

  <div class="card border-danger mb-3">
    <div class="card-body text-danger">
      <h1 class="card-title">Erreur 500 - Erreur serveur</h1>
      <p class="card-text">Oups, quelque chose ne tourne pas rond de notre côté ! On a peut-être jambonné les tests...</p>
    </div>
  </div>
  <br>
  <p>
    Ce que vous pouvez faire maintenant :
    <ul>
      <li>Si vous ne l'avez pas déjà fait, vous pouvez <a href="{% url 'home:suggestions' %}">nous signaler le bug ici</a></li>
      <li>Sinon, retournez à la page d'accueil en cliquant sur le jambon :</li>
    </ul>
  </p>
  <a class="btn btn-light" href="{% url 'home:home' %}">
        <img src='{% static "/img/jambon.png" %}' style="width:40%;max-width:150px;">
    </a>

{% endblock%}

