<h1>
    <a href="{{ group.get_absolute_url }}"><i class="fas fa-arrow-alt-circle-left link-dark"></i></a>  
    {{ group.name }}
</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if open == 'general' %}active" aria-current="page{% endif %}" 
            href="{% url 'group:update' group.slug %}">
            <i class="fa fa-cog"></i> Général
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "members" %}active" aria-current="page{% endif %}" 
            href="{% url 'group:update-members' group.slug %}">
            <i class="fa fa-users"></i> Membres
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "sociallinks" %}active" aria-current="page{% endif %}"
            href="{% url 'group:update-sociallinks' group.slug %}" >
            <i class="fa fa-share-alt"></i> Liens
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "children" %}active" aria-current="page{% endif %}" 
            href="{% url 'group:update-children' group.slug %}">
            <i class="fa fa-ring"></i> Sous-groupes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "events" %}active" aria-current="page{% endif %}" 
            href="{% url 'group:update-events' group.slug %}">
            <i class="fa fa-calendar-alt"></i> Évènements
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if open == "posts" %}active" aria-current="page{% endif %}"
            href="{% url 'group:update-posts' group.slug %}" >
            <i class="fa fa-bullhorn"></i> Annonces
        </a>
    </li>
</ul>

<br/>

