{% extends 'base.html' %}
{% load static %}
{% load file_url %}
{% load cache %}

{% block content %}

<div class="row">
  <div class="col">
    <h1>Listes BDX</h1>
  </div>
  <!--div class="col text-end">
    <input type="textbox">
  </div-->
</div>
<br />

{% cache None liste_list %}
  {% for group in liste_list %}
    {% if group.list %}
      <h2>{{ group.grouper }}</h2>
      <div class="grille">
        {% for liste in group.list %}
          <div class="grille-icon text-center" style="transform:rotate(0);">
            <a href="{{ liste.get_absolute_url }}" class="stretched-link">
              <div class="ratio ratio-1x1">
                {% if liste.logo %}
                  <img src="{{ liste.logo|file_url }}">
                {% else %}
                  <img src="{% static 'img/logo/scalable/logo.svg' %}" style="opacity:0.3">
                {% endif %}
              </div>
            </a>
            <p>
              {{ liste.name }}
              <br>
              <small class="text-secondary">{{ liste.liste_type.name | upper }}</small>
            </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endcache %}

{% endblock %}

