{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Créer ma Famille</h1>

    {% if can_create %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    {% else %}
        <p>Désolé, vous ne pouvez pas créer de Famille. Vous êtes déjà enregistrés dans une famille,
        ou alors vous êtes en première année. <a href="{% url 'family:home' %}">Retour à l'accueil</a><p>
    {% endif %}

{% endblock %}