{% load static %}
{% load django_vite %}


<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="{% static 'manifest.webmanifest' %}">
	<meta name="vapid-key" content="{{ vapid_key }}">
	
	<script type="module">
		import RefreshRuntime from 'http://localhost:5173/@react-refresh'
		RefreshRuntime.injectIntoGlobalHook(window)
		window.$RefreshReg$ = () => {}
		window.$RefreshSig$ = () => (type) => type
		window.__vite_plugin_react_preamble_installed__ = true
	</script>
	{% vite_hmr_client %}

	<!-- favicon -->
	<link rel="shortcut icon" href="{% static '/img/logo/scalable/logo.svg' %}">
	<meta name="description" CONTENT="Bienvenue sur Nantral Platform, le site des étudiant⋅e⋅s de Centrale Nantes !">
	<title>Nantral Platform</title>
</head>

<body>
	
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root">
		Loading...
	</div>

	{% vite_asset 'src/index.tsx' %}

</body>

</html>