{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="{% static 'manifest.webmanifest' %}">
	<meta name="vapid-key" content="{{ vapid_key }}">
	<!-- favicon -->
	<link rel="shortcut icon" href="{% static '/img/logo/scalable/logo.svg' %}">
	<meta name="description" CONTENT="Bienvenue sur Nantral Platform, le site des étudiant⋅e⋅s de Centrale Nantes !">
	<title>Nantral Platform</title>
</head>

<body>
	
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
		Loading...
	</div>

	<script type = "text/javascript" src="{% static 'js/reactApp.js' %}"></script>

</body>

</html>