{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% include 'group/navbar_edit.html' with open='news' %}
<a class='btn btn-dark' href="{% url 'group:create-post' object.slug%}">Poster une nouvelle annonce</a>
</br>
</br>
<h2>Liste des annonces</h2>
{% url 'post_api:list-group-posts' object.slug %}
<!--<a class='btn btn-dark' href="{% url 'group:archived-events' object.slug%}">Annonces de +30 jours</a>-->
</br>
<div id="root"></div>
{% endblock %}
{% block script %}
<script>
  var group_slug = "{{object.slug}}";
  var static_url_prefix = "{% static '' %}";
  var api_list_url = "{% url 'post_api:list-group-posts' object.slug %}";
</script>
<script src='{% static "js/postsGroupListUpdate.js" %}'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function () {
    $('input.datepicker').daterangepicker({
      singleDatePicker: true,
      drops: 'up',
      showDropdowns: true,
      autoApply: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerIncrement: 15,
      locale: {
        format: 'YYYY-MM-DD HH:mm'
      },
      minYear: 2020,
      maxYear: parseInt(moment().format('YYYY'), 10)
    });
  });
</script>
{% endblock %}