#Calendar
{
  text-align: center;
  // width : 10px;
} 

.TimeBlockEven {
  border: 1px solid gray;
  border-bottom: 0px;
  // width: 120px;
  height: 1.2rem;
}

.TimeBlockOdd {
  border: 1px solid gray;
  // width: 120px;
  height: 1.2rem;
}