{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include 'group/included/navbar_edit.html' with open='events' %}

<a class='btn btn-dark' href="{% url object.app|add:':create-event' object.slug%}">Ajouter un event</a>
</br>
</br>
<h2>Liste des events planifiés</h2>
<a class='btn btn-dark' href="{% url object.app|add:':archived-events' object.slug%}">Events archivés</a>
</br>
<div id="root"></div>
{% endblock %}
{% block script %}
<script>
  const STATIC_URL_PREFIX = "{% static '' %}";
  const API_URL = "{% url 'event_api:list-group-events' object.full_slug %}";
</script>
<script src='{% static "js/group/eventsGroupListUpdate.js" %}'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function () {
    $('input.datepicker').daterangepicker({
      singleDatePicker: true,
      drops: 'up',
      showDropdowns: true,
      autoApply: true,
      timePicker: true,
      timePicker24Hour: true,
      timePickerIncrement: 15,
      locale: {
        format: 'YYYY-MM-DD HH:mm'
      },
      minYear: 2020,
      maxYear: parseInt(moment().format('YYYY'), 10)
    });
  });
</script>
{% endblock %}